[2014-02-03 15:36] OliverJAsh opened #32 "Grammar"

[2014-02-07 12:31] theefer opened #43 "Text nodes should be consolidated on paste"
Else it creates difficulties for plugins and sanitisation.

[2014-02-21 13:39] theefer opened #55 "Curly quotes wrong after punctuation"
Using the curly quote plugin, typing `something ("words")` results in `something (”words”)` (i.e. the first curly quotes is a closing one, where it should be an opening one).

The logic needs to be adapted to avoid considering punctuation (typically parentheses, maybe other things) as a character that may be ending a word.

[2014-02-28 13:12] OliverJAsh opened #60 "Add API documentation"

[2014-02-28 13:14] OliverJAsh opened #61 "Move plugin source files and tests out into separate repositories"
We have individual repositories for each plugin which is where the distribution code lives. However we still need to move out these source files and their corresponding integration/unit tests.

[2014-03-04 17:54] OliverJAsh opened #65 "Sanitize drag and drop"

[2014-03-05 12:27] theefer opened #66 "Document steps to release plugins in CONTRIBUTING.md"

[2014-03-17 13:45] pbartel opened #69 "Multiple editors w/ single toolbar possible?"
Hi,

Is it possible to use a single toolbar for multiple editor instances?

Thanks.

[2014-03-18 12:44] OliverJAsh opened #72 "Speed up the CI"
CI is currently very slow. It takes 10-14 minutes to run each job in the Travis matrix, for example: https://travis-ci.org/guardian/scribe/builds/20491312. We should really see if we can speed this up.

One idea: we currently tear down and reload the view before each test. This is a bottleneck because of the tunnelled HTTP requests. Could we just re-use the page session?

[2014-03-20 16:25] JAStanton opened #74 "Another contenteditable Browser Inconstancy"
Have you ever tried to bind an event to a contenteditable and received events for the target elements? As it turns out it's really ridiculous.

Example:
http://codepen.io/JAStanton/pen/pAynm/
(or since you guys like fiddle so much: http://jsfiddle.net/U3Me9/)

Bug in FF23 and CHROME29 Possible IE. Discussed here: http://stackoverflow.com/questions/18771651/detect-keyup-event-of-contenteditable-chi

[2014-03-20 16:50] OliverJAsh opened #75 "Clean up bogus `BR` elements"
Browsers need to insert something inside of an empty element in order for the caret to be positioned there (AFAIK). You wouldn’t be able to place your caret inside of `<p></p>` because there’s no text node/element.

This hasn’t been fixed because there were [bigger fish to try](https://github.com/guardian/scribe/blob/87d3ed1a7f28d9fcdcc0a54e0d168dbeac26e558/BROWSERINCONSISTENCIES.md), but could ea

[2014-03-20 17:56] #69 closed, assigned to nobody

[2014-03-21 07:35] arunkjn opened #76 "Adding an image"
Plugin to add an image by a URL. Also should be able to set width and height attributes.

[2014-03-21 17:15] mhuebert opened #77 "Usage with browserify"
Forgive me if there's an obvious answer to this question. I spent some time yesterday trying to use this in a project, and got stuck because of the AMD format. Is there a simple way to use this with browserify?

[2014-03-21 18:34] xiaoxu193 opened #78 "Deleting all content leaves <p> tags"
If you type into the textbox, and then delete everything, the output html is

[code]

[2014-03-21 21:49] #74 closed, assigned to nobody

[2014-03-23 20:28] leonkunert opened #79 "Different Languages"
It would be nice to have the captions in other languages.

[2014-03-23 20:44] #79 closed, assigned to nobody

[2014-03-24 09:32] nevf opened #81 "Indent in List doesn't work"
Using the Demo at: http://guardian.github.io/scribe/ I created a list item and then click Indent and nothing happens. I expect this to indent a level within the list.

[2014-03-24 09:36] nevf opened #82 "wysihtml5 vs. scribe"
In your article http://www.theguardian.com/info/developer-blog/2014/mar/20/inside-the-guardians-cms-meet-scribe-an-extensible-rich-text-editor you mention wysihtml5 but don't  say why you didn't use that.

I've been developing an App for a while now which uses wysihtml5 as it was the best of the bunch that I found. Unfortunately development seems to have lapsed, which happens all too often with op

[2014-03-24 10:24] #82 closed, assigned to nobody

[2014-03-24 16:11] OliverJAsh opened #83 "Add UMD"
This module should work in CommonJS, AMD, and browser globals. Currently it only works for AMD.

Ideally this wrapping would be done as part of the [build process](https://github.com/guardian/scribe/blob/caf781f8bc386058fa9f69bc14c0ded944d12eab/Plumbing.js#L51).

Re. https://github.com/guardian/scribe/issues/77

[2014-03-25 10:25] joniden opened #84 "Clicking h2-button creates multiple h2"
In the editor: Mark any word in the texteditor (not the output) and click **h2** multiple times.

Instead of expected: `<h2>Hello, World!</h2>` I get: `<h2>Hello, World!</h2><h2></h2><p></p><h2></h2><p></p>`

[2014-04-02 18:38] matthewmueller opened #88 "select all then delete breaks out of <p> blocks on iOS"

[2014-04-02 21:48] matthewmueller opened #89 "allow for different block elements"
right now the library assumes that `<p>` is the desired block element, it'd be great to support other elements along with nested block structures.

[2014-04-03 11:28] #88 closed, assigned to nobody

[2014-04-08 01:52] sntran opened #91 "`insertPlainText` after initialization throws exception"
Steps to reproduce:
- Clone scribe
- Checkout gh-pages
- Edit `example.js`, line 103, from `scribe.setContent('<p>Hello, World!</p>');` to `scribe.insertPlainText('Hello, World!');`
- Open the example through a webserver.
- See `Uncaught TypeError: Cannot call method 'cloneRange' of undefined` in `selection.js`, line 28.

OS: Mac OS X Maverick
Chrome: 33.0.1750.152

[2014-04-08 20:02] #89 closed, assigned to nobody

[2014-04-08 20:05] matthewmueller opened #93 "Which browser inconsistencies have been fixed and which are still existing"
Would be great to add a little more info to the `BROWSERINCONSISTENCIES.md` file.

Maybe something like, "fixed" or "bug". I think it would help with PRs too.

[2014-04-09 14:01] #91 closed, assigned to nobody

[2014-04-09 14:59] OliverJAsh opened #95 "Unbind/destroy"
When destroying a Scribe instance, it should clean-up all references and DOM event bindings, including in any plugins being used.

[2014-04-09 15:00] matthewmueller opened #96 "bold causes the transaction manager to run twice"
When I run:

[code]

I get a call to the transaction manager in these two spots:

https://github.com/guardian/scribe/blob/master/src/api/command-patch.js#L11-L13
https://github.com/guardian/scribe/blob/master/src/scribe.js#L53-L59

Leading to two cmd+z's to undo.

[2014-04-09 17:15] matthewmueller opened #98 "Improve undo history items"
It would be nice if we could set the debounce on inputs so undo/redo don't trigger for every key.

Could be an option:

[code]

Or the ability to monkeypatch the `input` event would be great too.

[2014-04-09 18:09] matthewmueller opened #99 "insertHTML command still inserts spans when there's existing input on chrome"
Here's a video to demonstrate: https://cloudup.com/cqc5E00OHaQ

The first time it worked fine (when there was no input), but the second time it still added the span in.

[2014-04-10 21:44] OliverJAsh opened #100 "Fix Travis builds for pull requests with foreign origins"
Sadly the integration tests won’t run for pull requests when the source repository !== the target repository. [See these Travis docs for details why](docs.travis-ci.com/user/pull-requests/#Security-Restrictions-when-testing-Pull-Requests) – we’re using encrypted environment variables to store our access key for Sauce Labs.

It looks like AngularJS, [who share a similar setup](https://github.com/an

[2014-04-11 11:26] theo-savus opened #101 "Output textarea"
If you write something in the ouput textarea, even if it's html or plain text, any commands done in the input textarea will not work, neither will be entering of more text in that textarea. I have tested this on Firefox 28 and Chrome 34 on Windows XP. I recomand changing the textarea to disabled and the background color to white and color of the text to black.
![screenshot 2014-04-11 14 25 35](htt

[2014-04-11 11:40] #101 closed, assigned to nobody

[2014-04-14 21:35] thedanbob opened #103 "HTML pastes as plaintext in Firefox on Windows"
There is a bug in Firefox on Windows (I believe [this one](https://bugzilla.mozilla.org/show_bug.cgi?id=586587)) that causes pasted HTML to be identified as text/plain rather than text/html. That causes [this check](https://github.com/guardian/scribe/blob/master/src/plugins/core/events.js#L114) to fail and the content to be inserted as plaintext.

This appears to be an issue only with this particu

[2014-04-15 11:36] OliverJAsh opened #106 ">= v0.1.6: `Scribe.setContent` throws error if called when there is no selection"

[2014-04-16 09:20] #100 closed, assigned to nobody

[2014-04-19 00:31] josephmisiti opened #107 "Can you use Scribe with a simple <script> tag"
I want to include scribe like i do jquery into my project (I do not want to use require.js) - is this currently possible ? (and sorry if this is a dumb question, I looked through the issues and couldnt figure it out - and two weeks ago I could not do this)

[2014-04-20 22:00] #107 closed, assigned to nobody

[2014-04-21 09:39] mitar opened #108 "A way to use editor in inline-only mode"
A way to use editor in inline-only mode. So without any block elements, but even without line breaks. Just a long rich-text line of text. It seems that even with `allowBlockElements` set to false and using sanitizer plugin to remove all except basic inline elements this is not possible.

[2014-04-22 15:52] jscheel opened #109 "Clicking formatting, with nothing selected, prevents me from toggling it back off."
Also, the state gets a bit wonky when selecting other states too.

![scribebug](https://cloud.githubusercontent.com/assets/211478/2767202/217360b6-ca36-11e3-9cd3-495290d48178.gif)

[2014-04-23 19:37] mitar opened #110 "After making a selection and bolding, selection disappears"
After making a selection of a portion of a text and bolding (by for example pressing command-b), text gets bolded but selection disappears. This is a bit counter intuitive in comparison with other WYSIWYG editors (like Word) where you can keep pressing a button and it is toggling bold on and off.

Bold is just an example. :-)

This happens at least in Chrome.

[2014-04-23 20:24] #110 closed, assigned to nobody

[2014-04-23 20:34] OliverJAsh opened #111 "Duplicated code when using Scribe and plugins: How to manage packages?"
If two plugins require the same modules, the consumer will have duplicated code (duplicated AMD modules).
# Example

Here is an example of what RequireJS creates when walking the dependency graph of the [scribe-plugin-sanitizer](https://github.com/guardian/scribe-plugin-sanitizer) library.

Source code (`master` branch): https://github.com/guardian/scribe-plugin-sanitizer/blob/master/src/scribe-pl

[2014-04-23 20:34] #108 closed, assigned to nobody

[2014-04-23 21:05] marek-baranowski opened #112 "Uncaught TypeError: Cannot read property 'cloneRange' of undefined"
Hi guys, I just wanted to let you know about this error.

Reproduce:
1. Go to http://guardian.github.io/scribe/
2. See the console :) Happens without any action.

![image](https://cloud.githubusercontent.com/assets/3288344/2783261/d5540398-cb2a-11e3-8ce2-b4c72e661630.png)

The same error occurs when I run scribe in my project.

Browser: Google Chrome 34.0.1847.116 m
OS: Windows 7

[2014-04-23 21:07] #112 closed, assigned to nobody

[2014-04-23 23:25] marek-baranowski opened #113 "Removing scribe instance."
What would be the best way to remove scribe instance?

Scenario in my project:
1. Multiple editable divs on a page.
2. Attaching scribe to specific div on `focus` event.
3. Removing scribe instance on `blur` event (after finishing editing text)

Basically I don't want to have separate scribe instance per every `div`, since this might be high memory consuming.

[2014-04-24 12:47] MichelBartz opened #114 "Clarify installation instruction"
Installation instruction are not clear or covering everything needed to get Scribe running. I have two main issues with your current "instructions":
1. Running `bower install scribe` is not enough to get it working.
2. No clear list of dependencies/requirements anywhere

You should keep in mind that not everyone is a JS guru used to all the tooling mentioned in the README. Scribe seems really nice

[2014-04-24 16:45] timhaines opened #115 "Pasting two subsequent empty lines removes the second one"
Hi there,

I've tried pasting the following in to the example:

[code]

You can see there's two empty lines between the 3 and 6.  When pasted into the scribe example, they are not maintained.  Is this a bug?

[2014-04-24 17:44] mitar opened #116 "Sanitize by allowing just a set of CSS classes on a element"
It seems to me that currently there is no way to allow a set of CSS classes to be applied to an element, but not any other or any other attribute. You can just enable/disable attribute as a whole? [Here I see](https://github.com/guardian/scribe-plugin-sanitizer/blob/dist/scribe-plugin-sanitizer.js#L108) that you can specify an exact value for the attribute, but not really a list of values for CSS

[2014-04-24 23:26] mitar opened #117 "Link and unlink actions could be combined"
I think that current intelligent unlink action could be combined with link. If you are inside a link and you invoke link, you should simply get an option to edit the link with a button to unlink everything. A separate action to unlink is probably unnecessary and strange for users.

[2014-04-24 23:27] mitar opened #118 "Linking whole content in Firefox does not work"
If I open demo in Firefox 28 and, select whole Hello World text and click on "link", text selection disappears and so also the link is not created when I type into the dialog box.

[2014-04-24 23:31] mitar opened #119 "Editing just created link does not work in Firefox"
If I select word "World" in demo in Firefox 28 and I click on link button, and create a link, link is created and selection seemingly keeps link selected. But when I click on the link button again, to edit the link, I get initial empty dialog box.

In Chrome the same series of steps works.

[2014-04-25 01:04] mitar opened #120 "Sanitizing with replacement"
Currently sanitizing input just removes elements and attributes. I am thinking that sometimes it would be better to replace them with some other element. For example, big headings could be replaced with the one heading used in your content. Current code does not allow this, but I could implement it. I am just not sure about API. Maybe something like:

[code]

So field names starting with `_` would

[2014-04-25 08:17] mitar opened #121 "Thoughts on using Rangy"
[Rangy](https://code.google.com/p/rangy/) is a cross-browser JavaScript range and selection library. I think that using it could help make Scribe cross-browser. Selection API is one of parts which is not really cross-browser but it is heavily used in Scribe.

[2014-04-25 09:19] mitar opened #123 "When enabling bold without a selection it cannot be disabled"
If I have a caret position inside a normal text and I click on "bold" button and start typing new text is bold. This is good. But if I click on "bold" button and then change my mind, I cannot click again to disable/disengage. I have to move caret somewhere else for this to happen. Or type something and delete.

Tested in Chrome 34.

[2014-04-25 09:28] theefer opened #124 "Simpler formatter API to transform DOM trees"
A simpler formatter API would allow reusing a parsed working DOM tree and use immutable mapping to compose small transformations (e.g. unwrap SPAN, map inline style to element, replace element X by Y, filter classes, etc).

This is a WIP spike, use this issue for tracking.

[2014-04-25 12:03] #96 closed, assigned to nobody

[2014-04-25 12:04] #123 closed, assigned to nobody

[2014-04-25 15:39] OliverJAsh opened #126 "Create phases for formatters"
There are currently ordering issues with formatters.

Enclosed is a list of desired formatters. Please comment if you have any others. From here I can figure out how to group them into phases.
# Plain Text
- Convert text separated by two new line characters into two HTML P elements
- Convert text separated by one new line character into text separated by a HTML BR element
- Escape HTML characters

[2014-04-25 19:19] mitar opened #127 "Prevent nested lists"
Sanitizer does not seem to be able to prevent nested lists?

[2014-04-28 04:03] mitar opened #129 "Nested placeMarkers/selectedMarkers call"
It seems that now it is not possible to use `placeMarkers`/`selectedMarkers` inside your execute function. I use `placeMarkers` but then inside mutation observer  `placeMarkers`/`selectedMarkers` is called again inside transaction manager which removes my markers. I think you should be doing the same [rangy is doing](https://code.google.com/p/rangy/wiki/SelectionSaveRestoreModule), using unique ID

[2014-04-28 09:10] mitar opened #130 "Many <p> </p> in Chrome"
In demo, in Chrome 34, if I do ctrl-a and then backspace, I get `<p><br></p>` with cursor at the beginning. If I then start pressing space, I am getting a series of `<p> </p>`, without cursor moving anywhere.

Output:

[code]

[2014-04-30 01:28] timhaines opened #134 "Statement on IE"
I noticed the main readme and the browser inconsistencies page both lack any mention of IE (Internet Explorer).

I'm wondering what Scribe's position is on it?  Is a certain version of IE supposed to be supported, or is it completely unsupported?

[2014-04-30 14:13] #106 closed, assigned to nobody

[2014-04-30 14:20] #126 closed, assigned to nobody

[2014-04-30 14:27] OliverJAsh opened #137 "Chrome: Pasting from Word into pristine editor creates extraneous P element and misplaces the caret"
![image](https://cloud.githubusercontent.com/assets/921609/2842328/23eebb22-d073-11e3-95e2-85508b813bc6.png)

Pasted into a pristine editor:

![image](https://cloud.githubusercontent.com/assets/921609/2842338/57d36c8a-d073-11e3-95be-1c827f7955e6.png)
- The caret is before the "3" when it should be after.
- There is an extraneous P element containing only whitespace after the paragraph containing "

[2014-04-30 14:30] OliverJAsh opened #138 "Chrome: Pasting from Word into dirty editor creates extraneous P element"
![image](https://cloud.githubusercontent.com/assets/921609/2842375/dffbea4c-d073-11e3-98e8-1e053f67df6e.png)

Pasted into a dirty editor:

![image](https://cloud.githubusercontent.com/assets/921609/2842382/f9c1faa2-d073-11e3-9fcd-ec58822da6df.png)

I have circled the extraneous P.

To do: create isolated case.

Introduced by #131.

[2014-04-30 23:00] matthewmueller opened #144 "thought: use mutation observers to track transactions"
I think this could replace the transaction manager, though it might lead to less control over the undo/redo stack.

[2014-05-01 14:37] OliverJAsh opened #146 "Modules and plugins"
This issue is a placeholder to describe the order of the steps we need to take to make working with Scribe a joy:
1. ~~DEV env for Scribe and plugins~~
2. ~~[Move sources into plugin repositories](https://github.com/guardian/scribe/issues/61): https://github.com/guardian/scribe/issues/146~~
3. ~~[Split integration tests by plugin repository](https://github.com/guardian/scribe/issues/61)~~
4. [Revi

[2014-05-01 21:39] #130 closed, assigned to nobody

[2014-05-01 22:05] #117 closed, assigned to nobody

[2014-05-01 22:06] OliverJAsh opened #151 "Support for older browsers"
Off the top of my head, these are the APIs we use that will likely not work in older browsers:
- [`MutationObserver`](https://developer.mozilla.org/en/docs/Web/API/MutationObserver)
- [`Selection` API](https://developer.mozilla.org/en-US/docs/Web/API/Selection)
- [`Range` API](https://developer.mozilla.org/en-US/docs/Web/API/Range)
- [`document.execCommand` and its suite of non-standardised comman

[2014-05-01 22:07] #121 closed, assigned to nobody

[2014-05-01 22:07] #134 closed, assigned to nobody

[2014-05-01 22:14] #114 closed, assigned to nobody

[2014-05-01 22:19] philcockfield opened #152 "How deep is the AMD requirement?"
I was wondering how bound Scribe is to being an AMD (require.js) module?

We're using @meteorjs which has it's own package system, and so I'm trying to see if there is a way I can get the Scribe code into my "meteor package" without taking on the cost of also including the AMD module system, that would only be used for Scribe.

Thanks a ton for this package, you guys are doing some really interest

[2014-05-01 22:28] #113 closed, assigned to nobody

[2014-05-01 22:29] #78 closed, assigned to nobody

[2014-05-01 22:38] #77 closed, assigned to nobody

[2014-05-02 09:01] mitar opened #153 "Scribe transactionManager assumes that selection is always inside an editor"
Scribe transactionManager assumes that selection is always inside an editor, but this can be wrong. I discovered issues because Scribe was modifying DOM outside editor.

We have the following scenario. User selects text outside the editor and based on that selection we prepopulate editor's content (I simply call jQuery `.html(...)` on the editor to set the content – should I use something else?).

[2014-05-02 17:35] mitar opened #155 "Getting access to Scribe instance through DOM"
It seems there is no way to access Scribe instance through DOM? So you have to manually make sure that you have access to Scribe instance everywhere you want to access it? (Like calling `getContent`.)

jQuery UI for example allows calling methods on DOM elements. (I think that internally it simply stored a reference into `.data()` on DOM node.)

[2014-05-07 12:18] krishvs opened #156 "Adding fontname to scribe"
Seeing that the execCommand  "fontname" is supported by all major browsers, is there any plan for scribe to support fonts?

[2014-05-07 13:24] #156 closed, assigned to nobody

[2014-05-09 10:02] #65 closed, assigned to nobody

[2014-05-14 21:32] shutej opened #173 "Allow Scribe to be cleanly removed from an element."
Here's where event listeners are added:

[code]

Here's where they are removed:

[code]

Perhaps I am confused, but it seems like each event listener should be tracked and it should be possible to detach Scribe from the element when you're done.  This would make it easy to temporarily add editing abilities to an element and then revoke them again when you're done, right?

[2014-05-14 22:16] #173 closed, assigned to nobody

[2014-05-15 11:49] marlonicus opened #174 "Events are removed from elements when the HTML formatter is run"
In plugins/core/events:86 the HTML is being formatted as a string and then put back in place. This obviously doesn't preserve any events attached to the child nodes.

I have click events attached to images in my project, but they are getting destroyed when the formatter is run, so for now I have disabled the formatter and plan to run it when the page is saved.

I haven't thought of any potential s

[2014-05-15 16:27] #174 closed, assigned to nobody

[2014-05-20 22:55] OliverJAsh opened #176 "Travis builds still failing for foreign PRs"
For example: https://travis-ci.org/guardian/scribe/builds/25631662 by #175.

Seems like the `SAUCE_USERNAME` environment variable isn't being set, even though [it is provided](https://github.com/guardian/scribe/blob/ff335ecd03f40eab959b241f89d2a9013a696b73/.travis.yml#L7).

[2014-05-21 07:29] mitar opened #177 "Editing the link text is unintuitive"
In our user testing we noticed that current editing of existing link text is unintuitive. We noticed that if user creates a link with URL and default text is link itself, they want to edit it. What they do is often click on the end of the URL in rich text editor, delete the link text and then start typing new text, expecting it to be the previously made link, just with new text. But Scribe does no

[2014-05-23 04:37] nwillems opened #179 "[Documentation] IRC Channel needs a network"
Hi there.

The IRC Channel is not to be found on either EFNet or Freenode. A specification of what network the #scribejs channel is available on, would be pretty handy.

Kind regards
Nicolai

[2014-05-23 10:10] #179 closed, assigned to nobody

[2014-05-29 21:53] lrowe opened #181 "List elements not detected pasting in bulleted / numbered lists from MS Word"
Pasting a bulleted list from Microsoft Word (Mac 2011) into the demo site results in multiple paragraphs beginning with a middot instead of an unordered list.

[code]

Similar result when pasting in a numbered list:

[code]

[2014-05-30 12:30] Cakez0r opened #182 "Line breaks are wrapped in p tags"
Possibly related #115

Entering

[code]

generates (whitespace added for brevity)

[code]

but I would expect

[code]

Sorry that I couldn't submit a pull request for this. I attempted to fix it couldn't get a working solution.

[2014-05-30 13:43] #182 closed, assigned to nobody

[2014-05-31 12:39] aleemb opened #183 "Add support for image content"
I love Scribe and its rigid design, however, the lack of image support seems like an oversight.

Is it not part of the editor by design or is this something in the works? I know there is a pending pull request on this and am pretty sure last time this came up on HN, it was mentioned that the feature was forthcoming.

It would be lovely to have clean image management. Maybe something along the line

[2014-06-02 14:26] franklinjavier opened #185 "Simplified CommonJS wrapper"
There is a risk of mismatched dependency names with named function arguments in this [source](https://github.com/guardian/scribe/blob/master/src/scribe.js#L2-L32)
I would suggest to use "simplified CommonJS wrapper". What do you think?

Example: https://gist.github.com/franklinjavier/eb090b9b564b25a137c0

[2014-06-04 15:22] philfreo opened #187 "Auto-link pasted URLs?"
Would be great to see the ability for pasted URLs to be automatically hyperlinked.

Do you think something like that belongs in a new plugin, or inside of https://github.com/guardian/scribe-plugin-link-prompt-command ?

[2014-06-06 13:01] samvasko opened #188 "Toolbar plugin (and maybe others) are order sensitive"
All plugins/commands cannot be accessed from toolbar if they are declared **after** the toolbar is used. So

[code]

[code]

This took me incredibly long to figure out :weary: This of course can be fixed by correct ordering. But it has a possibility of creating very elusive bugs.

[2014-06-06 18:29] #187 closed, assigned to nobody

[2014-06-08 14:41] samvasko opened #189 "Problems with caret after inline elements"
**Please checkout my comment bellow, some major changes**

<del>When I insert link using the plugin. My caret does not react to pressing space afterwards. I am using Chrome 35 on Linux.</del>

[2014-06-09 10:09] #183 closed, assigned to nobody

[2014-06-10 17:04] lrowe opened #191 "Alternative support channel?"
The limited overlap between CA and London working hours makes connecting with developers on IRC tricky. If a mailing list seems to heavyweight, perhaps you could give something like http://gitter.im a go - a service which allows you to associate chatrooms with github repos. Time differences would be less of an issue with the chat history always available.

[2014-06-10 17:17] lrowe opened #192 "Example to show how to create a class dropdown"
The current toolbar commands all map to elements. We may need to allow editors to apply a custom class from a preset list, potentially either to block elements or a span. Is there an example showing this or any pointers to how this might be implemented as a plugin?

[2014-06-10 22:38] TooTallNate opened #193 "Offer a "selection-change" event?"
When looking at [the code for the `scribe-plugin-toolbar`](https://github.com/guardian/scribe-plugin-toolbar/blob/32253dd5a60893341144b5d1811c2ad7b8b7274e/src/scribe-plugin-toolbar.js#L30-L36), it seemed obvious to me that a `selection-change` event generated from the Scribe instance would be highly useful to lots of plugins.

How hard would it be to implement this? I could perhaps take a stab at

[2014-06-12 09:52] OliverJAsh opened #194 "Spinner icon is missing (sometimes?)"
The spinner icon appears to be missing (sometimes?).

This icon is used when waiting for an article to be available on desktop/beta, after publishing.

[2014-06-12 09:52] #194 closed, assigned to nobody

[2014-06-12 11:41] #61 closed, assigned to nobody

[2014-06-12 12:07] #181 closed, assigned to nobody

[2014-06-12 12:12] #155 closed, assigned to nobody

[2014-06-13 00:04] TooTallNate opened #196 "Incorrect `isCollapsed` usage in selection.js?"
I was taking a look over the `Selection` class implementation, and noticed `this.isCollapsed` only being used 1 time and never being defined.

See here: https://github.com/guardian/scribe/blob/97f8eadb9433615f8797d2e9f4cc7de9276f0d37/src/api/selection.js#L42

So I'm assuming that the intention was to use the browser's native [`isCollapsed`](https://developer.mozilla.org/en-US/docs/Web/API/Selectio

[2014-06-13 09:06] #196 closed, assigned to nobody

[2014-06-13 21:10] TooTallNate opened #199 "Using `selection.placeMarkers()` and `selectMarkers()` asynchronously?"
So I'm trying to use `selection.placeMarkers()` to store the selection state right before the editor loses focus. I seem to be having trouble with the markers being lost (I'm guessing because of the "formatters") once the focus gets lost.

The flow is something like this:
- User clicks a button to activate the "input" for the link
- I call `selection.placeMarkers()` to have scribe insert the "mark

[2014-06-13 22:28] TooTallNate opened #200 "Cannot add space after a link"
To reproduce:
- Go to http://guardian.github.io/scribe/
- Clear the editor input
- Type in "hello.dd" for the text content (the actual contents likely don't matter)
- Select all
- Hit the `Link` button
- Type in "http://hello.dd" for the link prompt (again, the contents here likely don't matter)
- Hit "Right" key to de-select the link text and put the cursor directly to the right of the link
- Hit

[2014-06-13 22:40] #189 closed, assigned to nobody

[2014-06-13 23:08] #191 closed, assigned to nobody

[2014-06-13 23:13] OliverJAsh opened #201 "Remove `clipboardData` polyfill"
https://github.com/guardian/scribe/blob/818810f32054cbc573863af74f33c3b0b89d5e92/src/plugins/core/events.js#L224-266

Do we still need to support Firefox <=21?

When we don't, we can deprecate this.

[2014-06-15 12:10] #188 closed, assigned to nobody

[2014-06-15 18:03] samvasko opened #202 "Whole editor layout get recalculated on command execution"
Every time command is executed whole content of editor is repainted. This gets problematic if you have huge content and other non-text elements.

You can check it out using [paint rectangles in chrome](https://developer.chrome.com/devtools/docs/rendering-settings)

And try setting bold  (Ctrl + b) on some paragraph [with scribe](http://jsbin.com/pavuw/2) or [without](http://jsbin.com/bohos/1)

[2014-06-16 12:47] wodory opened #203 "Cannot correct Korean char."
Unlike most of language, Korean words consist of an initial consonant, a vowel or some times final consonant which is placed under a vowel.

However, I cannot insert some final consonant. For example, I can type the character '상' alone but I cannot write '이상'. It's inserted as '이사ㅇ'. The final consonant, 'ㅇ', cannot be placed under the vowel.

I guess it's cause by keyboard event trigger. Could ch

[2014-06-17 01:00] coreh opened #204 "Selection#placeMarkers() throws when range is undefined."
I occasionally get the following exception:

[code]

The lines are busted because scribe is being consumed by our build system, but here is the actual stack trace:
- https://github.com/guardian/scribe/blob/master/src/api/selection.js#L28
- https://github.com/guardian/scribe/blob/master/src/scribe.js#L156
- https://github.com/guardian/scribe/blob/master/src/transaction-manager.js#L19
- https://gith

[2014-06-17 10:31] #129 closed, assigned to nobody

[2014-06-17 16:30] OliverJAsh opened #205 "Release script: Bump version in package.json"

[2014-06-20 23:45] TooTallNate opened #206 "`underline` command is "enabled" when cursor is inside an <a> link"
It seems like the default "underline" command checks the enabled CSS of the current selection, rather than looking for an explicit `<u>` element.

We were able to fix this locally easily by overriding the default "underline" `queryState()` command to look for an explicit `<u>` tag instead of relying on the default behavior.

[2014-06-25 12:57] valberg opened #208 "Strange NS_ERROR_UNEXPECTED in CommandPatch.prototype.queryState"
I wrote this to the maillist, but decided to make it into an actual issue since I've narrowed the problem a bit more down.

I'm using Firefox 30.0 on Mac OS X, and sometimes I get this strange error in the console: `NS_ERROR_UNEXPECTED:` and nothing more.

It says that it happens at line 3669 in scribe.js:

[code]

I've figured out that the error can be "omitted" with the following:

[code]

So so

[2014-06-25 19:44] TooTallNate opened #209 "Feature request: don't ever touch `innerHTML`"
There's currently a very frustrating fundamental limitation in Scribe, which is that the "normalization" logic operates on raw HTML, rather then DOM nodes. This means plugins that get JavaScript references to DOM nodes end up becoming invalid because Scribe rewrites the DOM inside the editor and thus new nodes are created.

I'm currently having to do very hacky things like setting an `id` immediat

[2014-06-27 15:02] #152 closed, assigned to nobody

[2014-06-27 15:05] #185 closed, assigned to nobody

[2014-07-03 12:00] samvasko opened #219 "Whops. sorry"

[2014-07-03 12:10] #219 closed, assigned to nobody

[2014-07-03 12:21] samvasko opened #220 "Tests are broken"
All my tests end up with same error as this https://travis-ci.org/guardian/scribe/jobs/28978172

[2014-07-09 05:58] bradvogel opened #229 "Pressing shift-enter for newlines doesn't advance cursor"
See video below. Repro steps:
1. Go to http://guardian.github.io/scribe/
2. Place cursor after the "!"
3. Press shift-enter to add newlines

Notice that the cursor stays on the next line and doesn't move down when the newlines are being added. Tested on Chrome 35 on OS X.

It doesn't happen in a regular contenteditable field in the same browser.

![bug](https://cloud.githubusercontent.com/assets/8

[2014-07-16 10:00] #84 closed, assigned to nobody

[2014-07-18 17:31] daniel-nelson opened #234 "Here is a fix for Safari 6"
Safari 6 still uses the vendor prefixed version of MutationObserver (source: https://code.google.com/p/mutation-summary/issues/detail?id=21).

Here is the fix applied to Scribe: https://github.com/daniel-nelson/scribe/commit/fed64b64f77fcf1b8628925036d4d82f4d80f3a5

Note that the new reliance on MutationObserver is incompatible with IE10. Would it be possible to revert to the old code that didn't

[2014-07-21 13:36] #200 closed, assigned to nobody

[2014-07-25 12:28] OliverJAsh opened #236 "Virtual DOM for formatters"
Regarding issue https://github.com/guardian/scribe/issues/209, I've started to experiment with how we might use a virtual DOM for the formatters in Scribe.

Currently we reset Scribe’s `innerHTML` every time the formatters are run, which means that we lose all references to nodes inside the Scribe DOM. Some plugins need these references. This is also very bad for performance: `innerHTML` will caus

[2014-07-28 14:46] mitar opened #238 "Using Google Caja for sanitizing the content"
Maybe instead of custom Scribe solution for content cleanup, Scribe could use Caja's [JsHtmlSanitizer](https://code.google.com/p/google-caja/wiki/JsHtmlSanitizer)?

[2014-07-30 14:44] mikewnuk opened #239 "Formatting lost when pasting rich text into Safari"
Pasting into Scribe from a rich text source like TextEdit or Pages does not preserve formatting.

clipboardData is present on those pastes, but there is no text/html type. text/plain is available and that's used.

I posted in this thread about keeping the clipboardData polyfill intact for continued Safari support, however this polyfill isn't triggered in the case described above.

https://github.c

[2014-08-05 05:14] chanon opened #240 "Overriding core commands/plugins?"
What can I do if I want to override or change the behavior of a core plugin?

For example, I want to change how the undo/redo commands work, but in the core undo/redo commands' code it adds a keydown event listener to detect ctrl-z to the editor element which I don't know how to remove.

Looking at the Scribe constructor, I don't see a way to make it not use the core undo/redo commands either (oth

[2014-08-12 02:38] bradvogel opened #241 "Feature request: 'paste' formatter type"
Currently sanitizers that use `scribe.registerHTMLFormatter('sanitize', ...)` will sanitize both content that's pasted as well as content that is programmatically added to the editor.

However, I'd like to handle these cases separately. I'd like pasted content to be sanitized to a stricter subset of allowed tags than content that I programmatically inject into the editor. For example, I have code

[2014-08-13 06:47] bradvogel opened #243 "Pressing enter or delete before a table adds extra paragraphs"
If you insert a &lt;table> element and then put the cursor somewhere above the table, pressing enter will add an extra paragraph. The delete key also adds a paragraph. Seems to be a formatter issue.

Tested with Chrome 36 for OS X.

Here's a repro case: https://dl.dropboxusercontent.com/u/14168496/scribe_bug/index.html

The same behavior doesn't happen in a regular contenteditable.

[2014-08-26 10:16] #243 closed, assigned to nobody

[2014-08-28 11:33] pdrummond opened #246 "Is it possible to have a auto-complete plugin for Scribe?"
Hi, I am new to scribe.js and I am currently evaluating the API to see if it will be suitable for my needs.  So far, it looks very impressive and the plugin architecture is perfect for my requirements.

I am trying to implement auto-complete within the scribe-editor itself.  So when the user types '#' I want to display a drop-down menu much like the way it works in GitHub Issues.

I want to do thi

[2014-08-29 08:02] chanon opened #247 "Calling setContent in Firefox on an edited scribe will create a new <p></p>"
Demonstrated here:
http://jsfiddle.net/8g6ezbsb/3/

First, edit the text in the scribe instance, then click "Set Content".

The resulting html in the scribe instance is different from the html sent to `setContent`. It has an additional `<p></p>` in front.

This happens only in Firefox (at least not in Chrome), only when the scribe instance was edited before calling `setContent`.

[2014-08-29 18:59] csinchok opened #249 "Safari Tests"
When I run the tests on Safari (on a Mac), I see 2 passing, 6 pending, and 84 failing. Is Safari on Mac just an unsupported browser?

[2014-08-30 17:59] #249 closed, assigned to nobody

[2014-09-25 10:20] robinedman opened #254 "Scribe inserts a <BR> into empty inline elements"
At the moment we insert a `<BR>` into empty elements. Is there a reason we do this for inline elements?

This was initially only done for `<LI>` and `<P>` elements, but in later commits it was expanded to include any empty element that is not a void element. I understand why we do this for block elements, and also why we don't for void elements. But when we do this for inline elements we cause lin

[2014-10-08 23:15] csinchok opened #261 "Bug with multiple editors in Chrome 38"
Hey guys, our users started reporting a really weird bug today. Basically, in Chrome 38, if you focus one Scribe element, and then try to focus another scribe element, it won't actually let you select the element.

Here's a jsfiddle demonstrating the issue: http://jsfiddle.net/eq08mpm8/3/

Has anyone else seen this issue, or have any ideas on what might be causing it?

[2014-10-13 10:29] #261 closed, assigned to nobody

[2014-10-16 14:52] hmgibson23 opened #266 "Update the github pages"
The github pages are lagging behind the actual current scribe version. https://github.com/guardian/scribe/blob/master/CONTRIBUTING.md Releasing on how to update them.

[2014-10-16 14:56] hmgibson23 opened #267 "Make the CI tests pass"
Related to https://github.com/guardian/scribe/issues/176 and https://github.com/guardian/scribe/issues/220.

I believe they are timing out.

[2014-10-16 14:59] hmgibson23 opened #268 "Bring Scribe Common into Scribe"
Maintaining [scribe common](https://github.com/guardian/scribe-common) independently of scribe is proving a serious pain. I think it makes sense to put it back into scribe and stop releasing it. This may touch some of the core plugins but should be a pretty simple migration.

[2014-10-16 15:01] hmgibson23 opened #269 "Update the list of plugins in the README"
The plugin list is falling a little behind. We have [noting](https://github.com/guardian/scribe-plugin-noting) and others, which could be added.

[2014-10-16 15:06] hmgibson23 opened #270 "Write tests for https://github.com/guardian/scribe/pull/259 so it can be merged"
Would be very good to get this merged and we just need some tests to merge it

[2014-10-16 15:12] hmgibson23 opened #271 "Go through and clear out the BROWSERINCONSISTENCIES"
This is a bit of a chore but a few of these might not be actual browser inconsistencies anymore.

[2014-10-16 15:34] hmgibson23 opened #272 "Check that the range is defined before calling it"
R.E https://github.com/guardian/scribe/pull/231

The discussion here adds a quick fix to solving some of the range issues. The quick fix mentioned at the bottom of the conversation could get things moving on fixing this one.

[2014-10-17 11:11] #272 closed, assigned to rrees

[2014-10-23 08:59] #267 closed, assigned to rrees

[2014-10-23 09:00] #220 closed, assigned to nobody

[2014-10-24 13:32] #269 closed, assigned to rrees

[2014-10-24 14:07] #266 closed, assigned to nobody

[2014-10-24 14:18] hmgibson23 opened #278 "Make sure scribe markers are not left around"
Scribe markers are currently left all over the place. Look at this https://github.com/guardian/scribe/pull/248 for an example.

The approach here from @chanon is simple but should be merged as part of a separate pull request as checking the range was done in https://github.com/guardian/scribe/pull/273

[2014-10-28 10:33] #270 closed, assigned to nobody

[2014-10-30 08:09] pwiszowaty opened #282 "Undo manager prevents entering Alt + Z special characters"
Hey guys,

we were just reported that some of our users can't enter special chars like ż, Ż (alt + z).
That event.metaKey in undo / redo commands messes it up. Can't think of any good way to fix this, so I'm not creating a pull request.

In our case - we just stopped using undo / redo by removing the key bindings, but it would be great to be able to use those while not loosing those special Z char

[2014-10-30 10:07] hmgibson23 opened #283 "Add a section in CONTRIBUTING.md about the different labels for issues"
It would be nice to add an explanation of how users who want to work with scribe can get started. For example, we could add a list of task that need to be done in order of difficulty and add something about the different tags like "low hanging fruit"

[2014-10-31 13:13] rrees opened #284 "ImmutableJS"
I would like to add ImmutableJS as a library to Scribe, I noticed while working on the plugin loading that we have some structures that are effectively declaration.

I'm concerned about whether the benefit is worth the additional library

@hmgibson23 @theefer

[2014-11-04 10:12] EmilS opened #286 "Support for IE 10"
Wondering if testing against & subsequently supporting modern IE versions would ever be in the cards.

[2014-11-06 12:03] hmgibson23 opened #289 "Fix https://github.com/guardian/scribe/pull/248 so it can be merged"
This will help a lot with cleaning up the selection markers

https://github.com/guardian/scribe/pull/248

[2014-11-06 22:03] #234 closed, assigned to nobody

[2014-11-10 12:17] #268 closed, assigned to nobody

[2014-11-10 16:31] #111 closed, assigned to nobody

[2014-11-11 16:02] hmgibson23 opened #291 "Go through the plugins and remove their dependency on Scribe Common"
Now that scribe common is no longer separate from Scribe, it will be worth going through all the plugins that use it and updating them accordingly.

See [this](https://github.com/guardian/scribe-plugin-curly-quotes/pull/15) for an example.

* https://github.com/guardian/scribe-plugin-curly-quotes
* https://github.com/guardian/scribe-plugin-intelligent-unlink-command
* https://github.com/guardian/s

[2014-11-17 16:42] duncanpierce opened #293 "Browser inconsistency when inserting SPACE char"
Using Chromium 34.0.1847.116, clicking to move caret, then entering a SPACE results in "&nbsp;" but moving the caret using arrow keys then entering a SPACE results in " ".

To reproduce: if I go to http://guardian.github.io/scribe/ click after the "H" in "Hello" and type SPACE, I get &lt;p&gt;H&amp;nbsp;ello, World!&lt;/p&gt;, but if I then press RIGHT ARROW and type SPACE, I get &lt;p&gt;H&amp;nb

[2014-12-01 19:08] bradvogel opened #298 "Spellcheck underline comes up in the middle of typing a word"
When typing in the scribe basic example (http://guardian.github.io/scribe/) in Firefox, the spellcheck red underline appears when I'm in the middle of typing a word. The default contenteditable behavior is to wait to check spelling until I enter a space.

In Chrome it only happens when typing in a paragraph that isn't the last one. To repro this on http://guardian.github.io/scribe/, add a new line

[2014-12-02 19:32] aleemb opened #300 "Blank <p> tags when content contains a table at start"
When the content contains a table as the first element (or only element), clicking at the start of the table automatically creates a `<p><br></p>` node at the start.

When trying to delete the resulting gap from that node, more such nodes are just added to the start.

I have verified this bug in Chrome 39 and Firefox 33.1.1.

[2014-12-04 15:40] oskosk opened #301 "Has anybody tried inline editing with Scribe on any mobile device?"

[2014-12-04 16:52] OliverJAsh opened #302 "Publish source versions in releases"
I think Scribe should publish releases that point to the source code _as well as_ the optimized AMD bundle, such as the one I did here: https://github.com/guardian/scribe/tree/v0.1.17-src

This means that tools such as jspm can consume the source code instead of the optimized AMD bundle.

[2014-12-06 20:38] bradvogel opened #303 "New 'input' event type for user input"
Currently 'content-changed' is called when setHTML() is called. Typically 'change' events aren't fired after setters are called. For example, the HTML input field's input/change events aren't fired when the 'value' attribute is changed manually using JS.

It would be nice if Scribe had its own 'input' and 'change' events that only fired when the user did something, e.g. typed, undo, paste, etc.

[2014-12-09 02:48] cvrebert opened #304 "Running Sauce JS tests on pull requests"
So, I notice that Scribe uses Sauce Labs for real-browser JS testing.
I was wondering whether you'd be interested in enabling Sauce testing for pull requests too (while still keeping your Sauce credentials secure)? If so, you might be interested in the tool we created to do this for [Bootstrap](https://github.com/twbs/bootstrap): Savage: https://github.com/twbs/savage

If there's interest, I would

[2014-12-23 12:36] koistya opened #306 "There is no underline command?"
It seems like `underline` command is not there. How can I add one?

[2014-12-23 17:55] christopherliu opened #308 "Behavior when inserting contenteditable="false" elements"
I'm using contenteditable="false" elements in my editor pane to represent atomic elements (a chart, for example, might have a DOM but we'd want to delete it all at once). While I was looking at the code, I noticed that certain areas use the existence of the contenteditable attribute as a proxy for the Scribe container.

https://github.com/guardian/scribe/blob/master/src/api/selection.js:23
https:/

[2014-12-26 23:50] wearhere opened #309 "Cursor position is not always saved prior to running a transaction"
Steps to reproduce using [the demo](http://guardian.github.io/scribe/):
1. Double-click to highlight "Hello".
2. Click the "Blockquote" button.
3. Undo using the appropriate keyboard shortcut for your platform.

**Expected result**: "Hello" is highlighted once again.

**Actual result**: The selection is collapsed to the middle of "Hello".

[2015-01-02 11:27] theefer commented on #308
:+1:

[2015-01-06 20:35] bregenspan commented on #236
FWIW that approach got quite complicated (each formatter needed both the HTML or element it was modifying AND the surrounding context of the element, and to somehow enforce a pattern of only writing to the element it was operating on and never writing to its surrounding context).   So we're actually trying out virtual DOM.  Even the following pretty naive and wasteful approach works shockingly wel

[2015-01-06 21:07] bregenspan commented on #240
I ran into a similar case recently, which is that (sadly) I need to support IFRAMEs within the editor. For that to work nicely, the ensure-selectable-containers formatter needs to have IFRAME in its list of `html5VoidElements` to ignore.  It might or might not make sense for Scribe to have IFRAME in that list by default (it's not technically a void element, though it should be treated as such for

[2015-01-07 10:24] hmgibson23 commented on #240
This https://github.com/guardian/scribe/pull/275 take some steps towards doing exactly this. It makes sense to be able to override the core commands to me.

\cc @rrees

[2015-01-07 10:28] hmgibson23 commented on #236
:+1: for this. This looks awesome. I'm looking forward to the upstream PR.

[2015-01-07 11:22] rrees commented on #240
Yes this makes sense to me. Feel free to submit PRs if urgent for you otherwise I'll try to look at it when I can.

[2015-01-07 19:45] joegoldbeck commented on #99
Not a Scribe user but I was hitting a similar issue with `document.execCommand('insertHTML', ...)` in general on Chrome and came across this bug report.

The issue with inline styles being inserted seems to occur when inserting html into a child div that is inside of a contenteditable div, when the child div has different styling than parent contenteditable div. For whatever reason, Chrome seems t

[2015-01-08 11:40] theefer commented on #236
The ultimate goal was to move all plugins to deal with virtual dom rather than real DOM objects, so that's a step in the right direction!

I don't believe running plugins on "diffs" (what mutated) would work as many plugins are highly contextual.

[2015-01-08 15:20] bregenspan commented on #236
@theefer totally agreed -- my goal at the moment is to find a short-term solution that could allow for working with the existing formatters while solving the issue of IFRAMEs refreshing and element references being lost during formatting.  I'm a little surprised by the cheapness of transforming HTML to virtual DOM and how well the diff approach works on its own, but it's likely not the ideal long-

[2015-01-09 12:36] cutandpastey opened #310 "Can't run scribe tests"
On a fresh checkout I can't run the test suite.  I get this output:

Uncaught NoSuchElementError: no such element

I followed the instructions within https://github.com/guardian/scribe/blob/master/CONTRIBUTING.md

@theefer @rrees any ideas?

[2015-01-09 12:46] theefer commented on #310
Works for me. I'm afraid it's a little hard to diagnose remotely...

Can @robinedman and @hmgibson23 run the tests?

[2015-01-09 12:47] cutandpastey opened #311 "Requiring immutable.js breaks scribe-plugin-noting"
When scribe references immutable.js like this:

`'immutable/dist/immutable'`

I get:

`Uncaught Error: Script error for: immutable/dist/immutable
http://requirejs.org/docs/errors.html#scripterror`

when trying to run the test suite within the noting plugin.  Ive patched this within the plugin but would be good to get a fix in this codebase.  I'd love to PR this as it's quite a simple fix but an un

[2015-01-09 12:52] robinedman commented on #310
Did a fresh checkout to try it out. Getting the same error....

[2015-01-09 12:54] robinedman commented on #310
Seems to be nginx using port 8080

[2015-01-09 12:58] theefer commented on #310
Ah.

On fresh checkout I got

[code]

Copying the chromedriver binary to the project root folder fixed the error.

I don't have anything running on 8080 initially. If I get another process on 8080, I then get a clear error:

[code]

[2015-01-09 13:18] cutandpastey commented on #310
As @robinedman says, it was a port issue here, I'm updating docs to account for this. Weird that @theefer gets that error, I get no `EADDRINUSE`.

[2015-01-09 13:19] #310 closed

[2015-01-09 15:44] theefer opened #314 "Use JSPM to simplify packaging and dependency management"
I suggested that we try making Scribe JSPM compatible, and use JSPM to manage the dependencies.

This should hopefully simplify the dependency management throughout and allow other projects that use JSPM to import Scribe.

It will also make it trivial to start using ES6 in Scribe.

We should still be able to publish to AMD and CJS, though it might be worth assessing the work required.

See the rat

[2015-01-10 05:04] christopherliu opened #315 "Documentation on plugins"
Hello,

I'm starting to work on adding plugins to Scribe, and so I thought I'd write down the notes I've taken so far so others could look and correct/add. Eventually I'd like to add them to the source/wiki, but I'm still working on them and I haven't figured out which yet.

-----
[code]

[2015-01-12 11:46] hmgibson23 commented on #315
Be nice to say a bit more about the APIs for commands and that you can patch a command by replacing the default APIs with your own but otherwise this looks like a good start!

[2015-01-12 16:46] bravomartin opened #316 "."
.

[2015-01-12 16:47] #316 closed

[2015-01-12 16:47] bravomartin commented on #316
sorry wrong repo

[2015-01-14 09:48] hmgibson23 opened #317 "Document scribe.targetWindow and scribe.targetDocument"
This https://github.com/guardian/scribe/pull/290 PR relates to these and would be nice to have some documentation for them.

[2015-01-14 15:52] bregenspan commented on #317
It might also be useful to document why someone might want to use an IFRAME for their editor area, or even recommend it as the default way to go. http://stackoverflow.com/a/11222149/69697 seems like a good list but leaves out possible performance benefits (a likely one is avoiding full-DOM reflows/repaints when changes are made within the editor).

[2015-01-14 19:14] bregenspan commented on #241
I'm working on adding a paste helper to the test harness, and can add tests for paste formatter changes once that's ready: https://github.com/gawkermedia/scribe-test-harness/compare/add-paste-helper?expand=1

Past helper is not behaving in Chrome for me but I believe the test suite just generally doesn't work there atm?

[2015-01-15 10:46] #241 closed

[2015-01-16 17:51] rrees commented on #240
Version 1.2.0 includes this change #321 that allows you to choose the command patches that run. You can then use your own plugins.

[2015-01-21 13:55] #304 closed

[2015-01-27 17:11] raztus commented on #83
@janfoeh Would you publish your umd build somewhere? I'm 3/4 of the way to having my own build, but getting stuck with the scribe-plugin-intelligent-unlink-command.js with Browserify's `--standalone` option.

My attempt attaches all the plugins to a `Scribe.plugins` global.

[2015-01-28 16:23] JeSuis commented on #306
@koistya Underline will work by default just add the button.

[code]

[2015-01-28 20:52] bigdave commented on #301
Using the demo page in Safari on iOS8, I was able to use all of the options present in the demo page.

A few things that were quirky: The 'link' modal appears to have focus after being activated, but the keyboard is obscured. Clicking on the link input itself activates the keyboard and allows a link to be entered - just a strange user experience.

Undo/Redo scrolls the page to where the Scribe inp

[2015-01-28 23:40] christopherliu opened #326 "How do you .setContent without triggering a change event?"

[2015-01-29 09:43] janfoeh commented on #83
@raztus yes, I've had issues as well, although with the sanitizer plugin. [Here](https://gist.github.com/janfoeh/4422aec7ae1b5c5718f4) is my intelligent unlink build. Three caveats, though: it's from September, I believe I haven't used it yet, and it exports to `window.scribePluginIntelligentUnlinkCommand`.

[2015-01-29 09:44] hmgibson23 commented on #326
You can't currently. We always trigger a ```content-changed``` event. What's the use case?

[2015-01-29 20:45] christopherliu commented on #326
I share an editor instance in a multi-document editing environment and so I reset the content every time we switch selected document.

I remove the content-changed event when switching so it's not a huge deal, but I've been getting errors on Firefox every time we switch documents, stemming from that event somehow, so I thought disabling the event would be easier than trying to diagnose the error.

[2015-01-29 21:51] bigdave opened #329 "Fails to retain focus due to invalid range comparisons when in ShadowDOM"
While trying to get Scribe to work within a Polymer-based application, we ran into a problem. The proof-of-concept polymer element for Scribe keeps the editor in the light DOM, which is fine for that example, but when using the editor within a Polymer component's Shadow DOM, the editor fails to keep focus, and throws exceptions.  It appears that it is attempting to compare ranges, assuming that th

[2015-01-29 21:53] bigdave commented on #329
If you're looking at scribe.js as opposed to selection.js, the error is occurring on line 3844

[2015-01-30 09:47] hmgibson23 commented on #329
Not sure but this could be mitigated by using ```ownerDocument``` to get the selection. However, when doing this we ran into some issues in FF.

[2015-01-30 15:26] shaunnetherby commented on #329
This issue is affecting me as well.  `ownerDocument` seems to be the same as `window.document`.  In Chrome, if you grab the shadowRoot of the target element (`el`) and call getSelection on that root, the selection object has the correct nodes (which means it is in the correct document fragment).  However when `getRangeAt` is called the range object has a common ancestor in the `window.document` in

[2015-01-30 19:01] ltazmin opened #330 "Can Scribe be applied to multiple fields (e.g. title and body)?"
Since Scribe can't accept multiple elements:
(i.e ``var scribe = new Scribe(document.querySelectorAll('.scribe'));``)

We tried to create multiple instances for each field instead, but there seems to be a problem with one interfering with the other. For example:
[code]

Is this a known issue or is it actually possible to create multiple instances of Scribe (If so, how)?

[2015-02-02 09:41] hmgibson23 commented on #330
There will likely be issues with the selection when working with multiple scribe instances. Do you get an error when you use more than one or does it just not work?

[2015-02-02 11:25] rrees commented on #330
I believe that we are having issues with some event propagation with multiple Scribe instances but we do have pages that run multiple Scribe instances so it is possible for the bulk of the core functionality.

cc @cutandpastey

[2015-02-02 11:43] cutandpastey commented on #330
Yeah, you used to be able to register multiple identical event handlers in `src/event-emitter` but thats not such a big deal (and has been fixed, see: https://github.com/guardian/scribe/pull/328).

Also multiple scribe instance used to have a place markers bug, for example if you have three instances and a collapsed selection within a given scribe element, when `Selection.placeMarkers` was called

[2015-02-02 16:35] xRapidDavex commented on #329
I'm having this same problem. Can we get an ETA on a fix?

[2015-02-02 16:39] hmgibson23 commented on #329
Is an issue with Polymer?

[2015-02-02 16:47] miztroh commented on #329
Perhaps it's related to this Chrome bug: https://code.google.com/p/chromium/issues/detail?id=380690

[2015-02-02 16:47] hmgibson23 commented on #329
It might be. If it's an issue with Polymer only, it's highly unlikely we'll provide a fix for this.

[2015-02-02 16:51] miztroh commented on #329
If it's related to the Chrome issue (very likely, as I've encountered similar issues with various content editors), then it would affect any Shadow DOM usage of Scribe (not just Polymer).  Someone has already committed a fix for the Chrome issue, so it's just a matter of time before that fix is incorporated into a stable release.

[2015-02-02 17:26] cutandpastey commented on #329
Its possible that the fix you mentioned won't fix this issue as the `scribe.api.Selection` creates a range from the global window. We could enable passing the shadow root into the constructor like:

[code]

I haven't used shadow DOM much so this is just a hunch, @theefer?

[2015-02-02 17:37] #284 closed

[2015-02-02 17:38] #240 closed

[2015-02-02 18:30] miztroh commented on #329
window.getSelection() should (once the Chrome fix is released) return a valid selection even from Shadow DOM contexts.

[2015-02-03 10:37] rrees commented on #306
@JeSuis @koistya I gave the underline command name a go and it didn't work by default because underlining is a styling thing rather than an HTML element.

I suspect we need to create a command that wrapped the selection in a  span with a standard class that could be targeted by CSS.

[2015-02-03 11:03] robinedman commented on #306
@rrees I'd argue for not doing such a thing. At least not in scribe core. I mean in a plugin would be totally fine. But what we'd do is introduce more presentational markup at the expense of keeping it semantic. We do already use bold instead of strong, and italics instead of emhpasis but I don't think that's a compelling reason to continue too far down that path.

@koistya Another approach you co

[2015-02-03 11:09] rrees commented on #306
@robinedman ah, sorry, yes I see my answer was ambiguous, I meant create a plugin that does this to avoid many people all writing their own version of the plugin. If we could agree what the structure was then the plugin is probably simple.

[2015-02-03 13:00] JeSuis commented on #306
@rrees what browser are you using?
I have to cross check but it is working for me just using the command name, I'll see if I can get a stand alone demo later to make sure nothing else is interfering.

For custom stuff I made a command that wraps the selection in a span then adds a class. But I need a better way so I don't have a ton of these plugins in the case I have multiple custom stylings.

[2015-02-03 13:58] rrees commented on #306
@JeSuis FF37

[2015-02-03 14:42] JeSuis commented on #306
@rrees

My mac air says FF35 is the latest, although I think my mac book pro at home has 37, but here's a screen of underline working. I'll see if I can find some time to put into a fiddle today.

![image](https://cloud.githubusercontent.com/assets/2349269/6022017/ef78f6e6-ab87-11e4-8747-4a3d621d0df2.png)

[2015-02-03 20:30] JeSuis commented on #306
@rrees didn't get it working in a fiddle but my stand alone demo works. I uploaded it here, didn't get to setup a demo yet, but you can check the files out. I tried to remove all custom stuff.

https://github.com/JeSuis/scribe-playground

[2015-02-04 11:16] rrees commented on #330
I've created a [FAQ in the Scribe wiki](https://github.com/guardian/scribe/wiki/FAQ) with the short answer for the this.

Thanks for asking @ltazmin

[2015-02-04 11:16] #330 closed

[2015-02-04 11:17] rrees commented on #308
@christopherliu I believe this should be fixed in 1.2.4

[2015-02-04 11:17] #308 closed

[2015-02-05 01:19] zbyte64 commented on #208
I had this issue on FF35/Ubuntu 14.04 , I was using this with react and I think it was rewriting the toolbar elements. When I properly specified key attributes in react the error stopped as the elements were no longer being overwritten.

[2015-02-05 12:40] rrees commented on #306
@JeSuis I'm starting to think this might because we actually remove the underline tags with the sanitizer plugin.

[2015-02-05 12:56] JeSuis commented on #306
@rrees you are correct, my demo has it in the whitelist, the fiddle didn't, I just tried it in the fiddle and it worked.

[2015-02-06 12:05] rrees commented on #306
@koistya So the short answer to your question is yes! I have updated the demo page with an example and added an entry to the [FAQ](https://github.com/guardian/scribe/wiki/FAQ)

Thank you @JeSuis for helping figure this out.

[2015-02-06 12:05] #306 closed

[2015-02-06 12:13] rrees commented on #311
This is fundamentally an issue with the way we bring Scribe into our plugins for testing. The real answer is to switch from using master to using Bower versioned releases but that's a big undertaking that probably needs to be whittled away rather than addressed in a single issue.

[2015-02-06 12:13] #311 closed

[2015-02-06 12:34] koistya commented on #306
@rrees thanks!

[2015-02-09 08:08] rrees commented on #291
All the plugins have now been updated so post the newsroom rollout I will need to update the dependencies on Scribe and Composer

## Update Scribe example

- [ ] Curly quotes
- [ ] Intelligent unlink
- [ ] Smart lists

[2015-02-09 15:32] shaunnetherby commented on #329
I tried Chrome Canary to see if the bug fix for https://code.google.com/p/chromium/issues/detail?id=380690 would fix this issue.  The bug fix doesn't change `window.getSelection()`; `window.getSelection` still returns the selection from the document context.  It does fix `selection.getRangeAt()` to return the appropriate range.  So even with that fix there seems like there would still be an issue

[2015-02-09 17:17] deains commented on #301
There's a few things I've found out in the long journey I've had with contentEditable. Not all of these are directly Scribe-related (at least not the core), but are just general pitfalls when working with mobile:

* Core and pitfalls
 * If you enact a formatting command (e.g. fontFace, fontColor) on a collapsed selection, certain DOM changes (toolbar buttons in particular, I think) between the com

[2015-02-10 18:42] miztroh commented on #329
@shaunnetherby One of the chromium devs posted this snipped.  I suppose if you replaced every call to document.getSelection() with a call to root.getSelection(), it might take care of the issue.

[code]

[2015-02-11 08:04] aaalsaleh opened #334 "Shared undo manager"
It would be great if the undo manager could be shared across multiple instances. One way to do that is to make the undo manager as a plugin that can be instantiated by the user once and used by multiple scribe instances (shared), or an instance for each scribe instance (exclusive). To make this work, each undo transaction should keep a reference to the scribe instance it belongs to (source of tran

[2015-02-11 08:10] rrees commented on #334
On the face of it that changes looks like it might be very complicated, do you have an example of why something external would want to manipulate the undo log?

I think it might be better if we allowed you to specify a replacement for the default undo manager rather than trying to implement this ourselves on your behalf.

[2015-02-11 08:11] rrees opened #335 ""Accelerating" undo"
Rather than undoing character by character users would like to switch from character to word-based undo if they are repeatedly hitting the undo key combo.

[2015-02-11 08:12] #326 closed

[2015-02-11 08:40] aaalsaleh commented on #334
That is basically the idea, making the undo manager an external plugin. It is not necessary that external components could manipulate the undo stack. As you stated, this can be done by those who needs it once it is an exchangeable plugin. The important thing is at least allowing the possibility for sharing the undo stack between one or more scribe instances.

One example for scribe specifically: t

[2015-02-11 08:50] rrees commented on #334
Okay, if its urgent I'd suggest submitting a PR otherwise at some point I'll look at making the transaction manager pluggable

[2015-02-11 18:16] robinedman commented on #335
It's worth noting that we don't technically undo character by character. Rather we undo the last "transaction" (managed by Scribe's transaction manager), which could be more e.g. if you select and then erase a paragraph then that would be one transaction.

Example:
![scribe-undo](https://cloud.githubusercontent.com/assets/1936213/6153035/81a423dc-b219-11e4-8edd-3a559fc98fe6.gif)

I wonder how othe

[2015-02-11 18:19] theefer commented on #335
@OliverJAsh tried to understand how OS/browsers do it but there was no obvious pattern. One way would be to debounce the history recording. There may or may not be subtle implications, given that some of the hack applied to normalise content editable across browsers sometimes have to fiddle with the history stack IIRC.

But featurewise, it would be nice to be closer to native undo, whatever the he

[2015-02-11 18:36] sihil commented on #335
Suggest someone looks at the behaviour of InCopy as that seems the logical thing to copy.

[2015-02-11 22:46] theefer commented on #335
![horse-cart-car](https://cloud.githubusercontent.com/assets/36964/6158151/be970d92-b23f-11e4-8ff3-1e77ad0ec8f5.jpg)
Beware the obscure consequences of legacy on modernity :-)

[2015-02-11 23:21] blishen commented on #335
Those who fail to learn from history are doomed to repeat it

On 11 February 2015 at 22:46, Sébastien Cevey <notifications@github.com>
wrote:

--
PGP Public Key <http://bit.ly/Rxbzi0>

--

------------------------------
Visit theguardian.com. On your mobile and tablet, download the Guardian
iPhone and Android apps theguardian.com/guardianapp and our tablet editions
theguardian.com/editions.  Save

[2015-02-12 01:01] raztus commented on #247
I can duplicate this (using the jsfiddle and my own application) in Chrome (Windows and OS X), Firefox (OS X), and Safari (OS X), but not in IE 11. In my application, setContent is being called when loading data from the server into the scribe-enabled element. If the cursor has been placed once (the user clicked the field) before the data is loaded, this extra paragraph tag appears.

Through my ow

[2015-02-12 01:02] raztus commented on #247
@chanon Did you ever find a workaround for this issue?

[2015-02-12 07:36] rrees commented on #335
So the initial situation discussed with Jon Hayes is that after two letter by letter undoes it would switch to word by word undo (so go through the transaction history until we see a non-letter character). This would be a bit challenging but has quite a tight focus.

[2015-02-13 07:59] chanon commented on #247
As noted, my workaround was to

" fix the code in enforce-p-elements.js so that it ignores <em class="scribe-marker"></em>s when finding elements to wrap in <p>s."

[2015-02-13 09:56] rrees commented on #335
This was bumped again today. I think prototyping something might be a good idea @na7hangood, I feel we're going to hear this over and over again

[2015-02-13 17:04] raztus commented on #247
Doh! Didn't read carefully enough. Thanks! That works like a charm:

[code]

[2015-02-14 10:40] rrees commented on #335
Can we also look at #334 when we do this?

[2015-02-16 10:33] rrees commented on #329
@bigdave Can you review in light of @shaunnetherby fixes?

[2015-02-18 15:37] forresto commented on #89
:+1: I also need to attach metadata to each text/media element. Are there any examples of this working?

[2015-02-18 21:40] saranrapjs commented on #95
+1 — currently working around this by cloning elements with DOM listeners (like the toolbar) but would be great if "destroy" was baked into the plugin architecture somehow

[2015-02-20 04:03] saranrapjs opened #342 "Chrome: an OL, converted from a UL, gets wrapped in a span"
[As distinct from the known Chrome list + span issue](http://jsbin.com/OtemujAY/7/edit?html,css,js,output), I believe there's yet another Chrome-specific `span` line-height + list element "inconsistency".  When converting a `<ul/>` to an `<ol/>`, on a page where a line-height has been defined on the body, the `<ol/>` that results will be wrapped in a bogus `<span>` with a line-height.  It seems th

[2015-02-20 14:09] #291 closed

[2015-02-20 22:29] bigdave commented on #329
@shaunnetherby's fix looks good :+1:

Thanks a bunch!

[2015-02-22 22:03] zbyte64 commented on #208
Never mind, still have the issue :(
At this point I am just checking if the error message is this and suppressing the error if it is.

[2015-02-24 16:22] noisia04 opened #345 "korean character(한글) input bug in chrome"
1. open chrome and go to http://guardian.github.io/scribe/
2. typing korean characters
3. when typing more than 3 characters and hit space key, input cursor is back 1 character and add space

![2015_02_25_00_40_40_668](https://cloud.githubusercontent.com/assets/8155307/6353094/83b40ce8-bc8a-11e4-8d22-ace705d5c225.gif)
4. when i using IE and trying to input [한글] in scribe, scribe changing my input

[2015-02-24 16:40] hmgibson23 commented on #345
Can you add something in the playground so we can verify it is actually a scribe issue?
http://jsbin.com/iwEWUXo/2/edit?js,console,output

[2015-02-24 17:06] noisia04 commented on #345
how can i do for "add something"?

[2015-02-24 17:08] hmgibson23 commented on #345
I'm not sure I understand. Do you mean to the playground? If so, you need to fork it.

[2015-02-24 17:13] noisia04 commented on #345
i mean, i don't understand the "Can you add something in the playground" this sentence.

i click that page's [Run with JS] button and typing some korean characters in the text box. result is normal.
![image](https://cloud.githubusercontent.com/assets/8155307/6354605/e5639b76-bc93-11e4-8c80-3ecb3f4169d5.png)

[2015-02-24 17:16] hmgibson23 commented on #345
Okay - so then it's an issue with scribe. That is just content editable. We had some problems with UTF8 characters before. I think it was Japanese characters but no one looked at it. It would be great if someone did!

[2015-03-04 22:00] aaalsaleh commented on #334
Here you go

[2015-03-05 10:31] rrees commented on #334
@aaalsaleh :clap: :clap: :clap: :cake:

[2015-03-06 13:47] tommiv opened #348 "Pasting word in Firefox closes paragraph prematurely"
See it in action: open [kitchen sink](http://guardian.github.io/scribe/) in FF (I tried 33.0, 34.0 and latest 36.0.1 versions), insert few words, "Three words here." for example. Copy any single word from paragraph and paste it somewhere in the same paragraph.

## Initial state
editor:
[code]
markup:
[code]

## What I've expected after paste:
editor:
[code]
markup:
[code]

## What I see:
editor:
[

[2015-03-06 14:48] lucthev commented on #348
That’s a known [browser inconsistency](https://github.com/guardian/scribe/blob/master/BROWSERINCONSISTENCIES.md) regarding the insertHTML command — Firefox is too eager to create new paragraphs. To ensure consistent behaviour across all browsers, Scribe would have to roll their own way of inserting HTML, which is tricky business — we’ll see what the folks at the Guardian think of this.

[2015-03-13 05:48] aaalsaleh commented on #334
@rrees I think we can finally consider this implemented :wink:

[2015-03-13 05:48] #334 closed

[2015-03-13 07:22] aaalsaleh commented on #335
Possible ways to define a new transaction:
1. On every change.
2. After a given interval of the last input if no new input has been made since.
3. On space key (repeated ones can be ignored).
4. On return key (repeated ones can be ignored).
5. On backspace and/or delete (repeated ones can be ignored).
6. On `paste` event.
7. On execution of any command (e.g. Bold, Italic, ...etc).
8. If the cursor

[2015-03-17 18:16] Rob-pw opened #358 "Instantiating Scribe on p, span tags results in invalid mark-up on formatting"
http://plnkr.co/edit/xwjVBnXz5FynHkBDAHPm?p=preview

Similar to as demonstrated above, instantiating a new instance of Scribe on a ```span```, ```p``` or similar element results in Scribe ignoring the restrictions of the container element, inserting a p tag if I select bold, borking the mark-up if I click remove formatting.

On a separate note, what is the point of instantiating Scribe on an eleme

[2015-03-19 19:55] rrees commented on #348
I've been having a ponder and all I can think of is that we could have a browser-specific formatter that strips the outer paragraph if there is no inner markup. I'm not sure there are any obvious rules to apply though.

[2015-03-19 20:02] rrees commented on #358
I checked the link in FF38 dev and I didn't see the same behavior can you supply some more information about the browser and OS you saw this on?

I'm not sure I understand your other questions. For our part the reason you target elements with Scribe instances is to allow different rules to apply to different contenteditables.

[2015-03-23 10:25] DavidTobin opened #362 "Tests break when including lodash filter in config.js"
Adding `'lodash-amd/modern/collections/filter` in `config.js` breaks tests when running `./run-tests.sh`:

[code]

[2015-03-23 18:49] rrees commented on #283
@hmgibson23 I have taken a crack at this [here](https://github.com/guardian/scribe/wiki/Project-labels)

[2015-03-23 22:47] rrees commented on #362
Yeah, I've seen this too. I think this is a bug in the quite old version of Lodash we're using. I've been meaning to do a version upgrade.

[2015-03-24 18:37] #362 closed

[2015-03-25 17:43] danburzo opened #365 "Patch Firefox bug for 'insertOrderedList' breaking <div contenteditable> inside <foreignobject>"
I've just logged [a bug on Mozilla's Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1147485).
It seems that calling `document.execCommand('insertOrderedList', false, null)` in an editable DIV that's set up like this:

[code]
will break the DOM (you'll see there are _three_ (!) separate SVGs in the document now).

You can [test it here](https://bug1147485.bugzilla.mozilla.org/attachment.cgi

[2015-03-25 18:37] forresto opened #366 "attaching metadata to text blocks"
Are there any examples of:
* attaching metadata to text blocks
* attaching ui outside of the scribe element to text blocks in the scribe flow
* making image / youtube embed blocks look like they are in the text flow
?

forked from #89 conversation

[2015-03-25 19:58] JeSuis commented on #366
So what we did at Refiner29 was model our editor after medium.com, we have text sections then also asset sections which shows a thumbnail and list details on the asset and what kind it is, it'll sit between your text sections. This is managed through an external asset editor.
On the front end its all json that's spit out.
Hope that helps some.

[2015-03-27 22:54] rf- opened #367 "lodash requires don't match file structure of 3.5.0"
The newest version of Scribe declares a dependency on lodash 3.5.0, but Scribe is still trying to require lodash functions using the locations they had in 2.4.1.

For example, [`scribe/src/element.js` depends on `lodash-amd/modern/collections/contains`](https://github.com/guardian/scribe/blob/ce4de11c895d9/src/element.js), which [doesn't exist anymore](https://github.com/lodash/lodash/tree/3.5.0-a

[2015-03-27 23:02] rf- opened #368 "Focus handler breaks when Scribe's content has been set to ''"
The [handler for the `focus` event](https://github.com/guardian/scribe/blob/master/src/plugins/core/events.js#L31) breaks when `scribe.el.firstChild` is `null`, which happens if the editor has been emptied using `scribe.setContent('')`. The specific error is `Uncaught TypeError: Failed to execute 'createTreeWalker' on 'Document': parameter 1 is not of type 'Node'.`.

I'm prepared to accept "don't

[2015-03-27 23:43] rf- commented on #367
The reason this doesn't break the build is that Scribe is accidentally loading a copy of `lodash-amd` 2.4.1 that lives in `bower_components`. The reason that exists is that it's still depended on by various plugins that also get installed into `bower_components`. There is also a copy of 3.5.0 in `bower_components`, but it's installed under `bower_components/lodash-compat` instead of `bower_compone

[2015-03-27 23:56] rf- commented on #367
Updating the lodash dependency in `bower.json` almost fixes this, except that Bower can't install more than one version of a package at once and there are other Bower dependencies (e.g., `scribe-plugin-sanitizer`) that can't use 3.5.0.

[2015-03-28 08:49] rrees commented on #367
Okay, I'll revert the change and start working through the dependencies, thanks for the report.

[2015-03-28 08:59] rrees commented on #368
I see what you're saying but if there isn't a child you don't want to do the walk right? So in getFirstDeepestChild you shouldn't do the walk but maybe return undefined and then in the focus function focus the scribe root element if getFirstDeepestChild didn't return an element.

[2015-03-28 09:06] rrees commented on #366
We've talked about it but we haven't done it yet. Would it be helpful to have an "official" place for the model data for the HTML?

[2015-03-28 09:08] rrees commented on #365
I think we'd be happy to take a patch on this (ideally with a test that will fail when Mozilla fixes the bug) I'm not sure we would feel the pain enough to fix ourselves as a priority.

[2015-03-28 09:11] rrees commented on #367
Release 1.3.4 should be back to the previous version of lodash, let me know if it's okay now.

[2015-03-28 17:23] rf- commented on #368
Yeah, that's reasonable. `getFirstDeepestChild` is already capable of returning the same element you pass to it though (like if `scribe.el.firstChild` exists but has no children), so it seems simpler to just start the descent one level higher instead of adding a special case.

[2015-03-28 18:14] forresto commented on #366
@rrees yes please! I have not quite figured out how to cleanly manage synchronization between our input html+metadata and Scribe's output html.

[2015-03-30 10:06] rrees commented on #368
Okay, I'll look at making the change

[2015-03-30 22:32] rf- commented on #367
Yep, 1.3.4 works much better, thanks! There's a commit [here](https://github.com/brigade/scribe/commit/d8ff0f09a0a990ef9946de4c6fcd2a061d155045) that updates the requires if you want to use that. It doesn't fix the build though.

[2015-03-31 09:29] rrees commented on #367
Okay great, I saw the commit and I'll use it as the basis of doing the upgrade later.

[2015-03-31 11:57] #367 closed

[2015-03-31 23:03] rf- opened #370 "`EventEmitter.prototype.off` doesn't work"
Relevant code:

[code]

Assigning to the local `listeners` var doesn't actually affect the value of `this._listeners[eventName]`.

[2015-03-31 23:04] rf- commented on #370
I would start opening PRs for this stuff, but right now I don't have a working dev environment for Scribe set up. I'll try to do that soon.

[2015-04-01 01:01] rf- opened #371 "Having an `<em>` tag in the edited text breaks some commands"
This looks related to 345ef2d3a43e2b65c8b87ad2d31b5677bf61f563, specifically this code:

[code]

Because lastContentNoMarkers is missing all `</em>`s, not just the ones with the `scribe-marker` class, the comparison fails.

To repro the specific symptom I'm seeing, go to the Scribe demo page, paste in some HTML containing an `<em>`, and then click either the bold or italic buttons without having a

[2015-04-01 12:59] #370 closed

[2015-04-01 13:07] cutandpastey commented on #370
@rf- Thanks for the heads up, fixed in https://github.com/guardian/scribe/pull/372.

[2015-04-08 17:59] danburzo commented on #365
Hi Robert, I totally understand and it _is_ quite a narrow case. For our specific case, it was better to patch this outside Scribe, so I guess I should just close this.

In case anyone else stumbles upon the problem, we solved it by:

1. extracting the `<div contenteditable='true'></div>` from the `<foreignObject>`
2. creating a new parent node for it, which is then inserted directly into the `<bo

[2015-04-08 17:59] #365 closed

[2015-04-09 16:32] rrees commented on #371
@rf- can you retest with 1.3.7?

[2015-04-10 09:56] tommiv commented on #348
Sorry, but I don't really got it. Here is [minimal fiddle](https://jsfiddle.net/a6vk1wjp/) that works fine in FF. Also, I see only one bullet about this FF behavior in "browser inconsistency" doc, but

I believe I'm not trying to paste _paragraph_ since I only copied one word.

[2015-04-10 15:21] DouglasLivingstone opened #381 "Indent action is inconsistent when paragraph is split with BR tags"
Using the live demo at http://guardian.github.io/scribe/ in Chrome 41:

1. Type test three times:

    test
    test
    test

Which results in this HTML:

    <p>test</p><p>test</p><p>test</p>

2. Select all the text, then press H2 twice, which results in this HTML:

    <p>test<br>test<br>test</p>

3. Press indent, results in this HTML:

    <blockquote><p>test</p><p>test</p><p>test</p></blockqu

[2015-04-13 09:06] hmgibson23 commented on #381
If you use the [playground](http://jsbin.com/iwEWUXo/2/edit?js,console,output) to replicate the output in Chrome and Firefox we can better diagnose the issue and see what's what in Scribe.

Thanks for the report.

[2015-04-14 15:34] rrees commented on #371
Closing as presumed fixed

[2015-04-14 15:34] #371 closed

[2015-04-14 16:06] forresto commented on #366
@rrees Any pointers where to start hacking this in now, before there is an official place?

[2015-04-15 15:44] rrees commented on #366
We're discussing have a state that is controlled by the Scribe event emitter but thinking about a dirty hack that would work then create an Immutable Map during Scribe initialisation and a function that rewrites and reads the state and you should be able to hack something together than shouldn't be too painful to rewrite later.

My view is that Scribe needs to expose a read-safe state object to th

[2015-04-17 13:24] forresto commented on #366
I'm ½ following you.

I have an empty Scribe instance, and start to add blocks of html from my data structure. The only hook out of Scribe that I see is the `content-changed` event.

It would help me if I could associate an id with each block added, that would get output with the `content-changed` event. Adding a new block would emit a different event with a new id.

A placeholder block (empty div

[2015-04-22 16:40] sted commented on #199
I have had the same problem recently. I got there implementing a new plugin in place of the scribe-plugin-link-prompt-command, with a custom modal instead of a prompt.
My temporary solution (a hack) has been to suspend the formatters with ```scribe._skipFormatters = true;```. They are re-enabled automatically.

As an example:
[code]
and later
[code]

This works but I am not proud of it ;)

[2015-04-29 08:44] EvilOatmeal opened #383 "Undo and redo do not go through the same steps"
Test this by performing a fairly complex sequence of events, like typing some text, use backspace, wait a little, type some more, apply bold to one word and italic to another.

Use undo several times then redo the same amount of times.

They will not go through the same steps, and the content can be different when you're done redoing than before you started undoing.

[2015-04-29 14:33] hmgibson23 commented on #383
We did some work around fixing this. One of our internal solutions that we didn't pursue in the end was to use Virtual Dom record undos one at a time. Obviously a complex scenario like this is hard to reproduce - perhaps you could write a failing test case?

[2015-04-29 14:50] hmgibson23 commented on #383
It's difficult to debug without knowing the exact steps to reproduce. Could you write a failing test?

One of our suggested solutions internally was to use Virtual DOM and record each keypress. We decided not to pursue it as the current fix was enough for us. You could try looking at https://github.com/guardian/scribe-plugin-advanced-undo to see if would work for you.

[2015-05-05 21:33] forresto commented on #366
@rrees what do you think of the above request? Would there be any pitfalls to adding `data-my-id` attributes to the top-level blocks to keep them associated with our input data?

[2015-05-05 23:05] JeSuis commented on #366
@forresto when we save our data the first time around they're assigned id's via the backend and it's loaded and re-saved that way. Any new blocks in an existing post have data id's assigned to them upon save.

There are many different options to saving this data, really depends on what your goals are.

If we're on the same page I can put a demo together, but would be a few weeks till I'd have time

[2015-05-06 01:09] forresto commented on #366
@JeSuis that sounds similar to what I'm going to try. Will ask for help if I can't get it working in a few days.

[2015-05-20 12:45] kof commented on #229
Also the prob is that in block elements mode, browser inserts br's instead of p's. This is an issue for me too.

[2015-05-21 01:06] growlsworth commented on #300
This happens in the example as well: https://guardian.github.io/scribe/ . When all the content is deleted, the result is not an empty string but `<p><br></p>`.
Is there a way to remove the wrapping `<p></p>` tags?

Thanks for this great library.

[2015-05-21 12:41] icodeforyou commented on #75
Is there any progress update on this issue? We are finding the bogus `<br>` very annoying in our project.
[code]

[2015-05-21 23:37] kof commented on #229
Why do we have brs if allowBlockElements: true first of all?

[2015-05-22 00:40] kof commented on #229
@OliverJAsh if you help with the plan how to avoid brs in block mode, I could send a PR.

[2015-05-22 07:57] kof commented on #229
I would suggest we need to:
- place marker
- split html by marker
- create new paragraphs for each part
- replace current paragraph by new paragraphs

[2015-05-28 08:33] pedrosanta commented on #83
+1 for more module formats or global somehow. Wiring up Angular and Require JS isn't the prettiest of things.

[2015-05-28 16:11] gon commented on #368
@rrees I'm having the same issue, any plans to merge in a fix for it?

[2015-05-28 16:34] rrees commented on #368
Yes. I know you're not going to believe me but I thought I might tackle it tomorrow. Nag me if I don't.

[2015-05-28 16:42] gon commented on #368
Hat bow.

[2015-05-29 14:06] rrees commented on #368
@gon @rf- Can you retest the fix in 1.3.9?

[2015-06-02 13:38] EvilOatmeal commented on #383
So I found why this happened, and it was a configuration error on my part.

We use a keyboard shortcuts configuration object that we use to generate the checker functions for the shortcuts plugin as well as labels that we show to the users, so they're all consistent. To get the label for the undo button we included it in that configuration, but that meant that a shortcut checker was also created a

[2015-06-02 13:38] #383 closed

[2015-06-04 14:32] shihabuddin commented on #69
I have submitted a pull request. Please reopen the issue.

[2015-06-10 16:58] regiskuckaertz opened #388 "Some contributions to Scribe"
Hello, a few weeks ago I started using Scribe for an internal project here at the Government of Luxembourg. It's a really great piece of software with an already comprehensive feature set, which is quite impressive given its short lifespan so far. As I was getting acquainted with how the code's organized, I thought about a few improvements (mostly moving things around) and committed them to [my ow

[2015-06-11 08:43] hmgibson23 commented on #388
Hi,
Glad that you've been having success using scribe. I think the least controversial and perhaps most helpful to us would the speed improvement stuff (using the TreeWalker everywhere and the Node.compareDocumentPosition stuff). Removal of temporary variables sounds good too.

I'd like to see lodash go, as personally I have my doubts about it's effectiveness for this type of project but other con

[2015-06-11 10:38] regiskuckaertz commented on #388
@hmgibson23 awesome! I will isolate all these things and make a PR asap.

[2015-06-11 14:21] JeSuis commented on #388
:clap:

[2015-06-15 19:47] growlsworth opened #391 "Paste on ie11"
pasting content does not work in IE11. This can be reproduced in the example: https://guardian.github.io/scribe/

I suspect it has to do with the polyfill for insertHTML that is not supported in IE as is described in this earlier PR: https://github.com/guardian/scribe/pull/159#issuecomment-42691617 . Thanks Guardian!

[2015-06-17 06:15] regiskuckaertz commented on #388
Closing this issue as we've moved on with the PRs.

[2015-06-17 06:15] #388 closed

[2015-06-17 07:16] regiskuckaertz opened #397 "Consolidating node operations"
Hello,

Right now DOM-related operations are scattered all over: in ./node.js, ./element.js, ./api/node.js, ./api/children.js and sometimes in core plugins (think `unwrap`, `insertAfter`, `hasContent`, etc.). Plus ./api/node.js defines a class with a link to a DOM node: this can be a source of memory leaks if objects are never released (in closures for instance).

I could survey the code, make an

[2015-06-17 08:59] hmgibson23 commented on #397
Sounds good to me!

[2015-06-17 09:34] regiskuckaertz commented on #397
@hmgibson23 great! I'm on it.

[2015-06-17 22:14] rrees commented on #391
Hi @growlsworth we don't officially support IE for Scribe. We will accept patches if they work with our target browsers although we don't have IE in our CI configuration.

[2015-06-17 22:15] rrees commented on #368
Assuming this is good now.

[2015-06-17 22:15] #368 closed

[2015-06-17 22:19] growlsworth commented on #391
That's a bummer and I totally understand the decision. Thanks for the update.

[2015-06-17 22:19] #391 closed

[2015-06-17 22:47] rf- commented on #368
Sorry, this has been near the top of my todo list for like a month. :( I'm actually about to resume work on the part of our app that uses Scribe, so I'll move us back onto upstream and let you know if there are any issues.

[2015-06-17 23:50] JeSuis commented on #366
@forresto do you still need help on this? I can start messing around with some demos, or maybe people are interested in general.

[2015-06-18 00:59] forresto commented on #366
I patched something together with a hydrate / dehydrate functions that keep
the DOM in sync with the data model. It works, but feels a bit fragile.
Would like to see other takes.

[2015-06-18 01:03] JeSuis commented on #366
Ok I'll try to throw something together by the end of this weekend.

[2015-06-18 08:09] regiskuckaertz commented on #397
This is going to be a biggie, I'll split this into multiple PRs for everyone's sake :-)

[2015-06-22 07:59] Carlsson87 opened #400 "ImmutableJS version"
scribe-editor is currently depending on version ~3.6.2 of ImmutableJS, which results in version 3.6.4.

On line 11 in `src/element.js` the method `includes` of ImmutableJS's Set is used. This method does not exist in any 3.6.* version, it was added in 3.7.1.

Either require a more recent version of Immutable, or use it's alias `contains`.

Related issue on their repo: https://github.com/facebook/i

[2015-06-22 08:12] regiskuckaertz commented on #400
+1 saw that too yesterday

[2015-06-22 15:03] rrees commented on #400
Yes, this was updated in Bower but not in the NPM dependencies

[2015-06-22 15:07] rrees commented on #400
Published v1.4.5 which should be in sync, @Carlsson87 can you check?

[2015-06-22 19:12] JeSuis commented on #366
So here's the idea I was having if I was understanding you correctly.

You'll have your p blocks with some kinda of data attached to them.
[code]
but with each being assigned its own unique id on save

But with non text blocks, like a video

[code]
Then you use that asset id to pull in asset info

I think it's going to be a bit too crazy to have the actual embed in the text flow and you're better

[2015-06-23 06:50] Carlsson87 commented on #400
Perfect. Good job.

[2015-06-23 06:50] #400 closed

[2015-06-23 14:14] alexeygolev opened #401 "Clipboard paste"
Getting "event.clipboardData.types.contains is not a function" when attempting to paste. The same here http://guardian.github.io/scribe/. Chrome 43.0.2357.130,  45.0.2439.0 canary, Opera 30.0.1835.59, Safari 8.0.6. Works in Firefox though

[2015-06-23 17:04] hntrdglss commented on #401
I'm experiencing the same, using the NPM release with webpack.

[2015-06-24 09:26] rrees commented on #401
@alexeygolev I've deployed 1.4.6 to the Github pages, can you retest?

[2015-06-24 10:02] regiskuckaertz commented on #348
Couldn't this be related to the fact that the normal paste operation is canceled in favour of insertHTML/insertPlainText? In this case, perhaps FF interprets the clipboard content as plain text, which eventually leads to:

[code]

[2015-06-24 10:11] rrees commented on #348
@regiskuckaertz hmmm, interesting it would certainly be worth looking at

[2015-06-24 10:15] regiskuckaertz commented on #348
BTW, in FF (I have v38) it looks like `clipboardData.types` is a `DOMStringList` which has a `contains` method but no `indexOf`. `DOMStringList` is obsolete and will eventually be replaced with an array of strings, but in the meantime it seems like the two will have to cohabit:

[code]

This is related to https://github.com/guardian/scribe/issues/401

[2015-06-24 10:22] regiskuckaertz commented on #348
@rrees Doing some tests right now, will keep you posted

[2015-06-24 11:01] rrees commented on #401
@alexeygolev @cutandpastey @regiskuckaertz Regis pointed out that FF might not be Array-like so the fix may have broken FF. Can you check?

We might need to use a fixed data structure to reconcile the behaviours (at least I understand why the Lodash function was being used now).

[2015-06-24 11:33] regiskuckaertz commented on #348
I was wrong, the copy-pasted text passes through enforce-p-element which wraps it in a paragraph. When insertHTML is invoked, it seems Chrome and FF differ in their behaviour: Chrome will silently insert the text content of the paragraph while FF will break the surrounding paragraph and insert the new one.

The culprit is: https://github.com/guardian/scribe/blob/master/src/plugins/core/formatters/

[2015-06-25 11:51] rrees commented on #348
Paging @theefer, do you know the reasoning or history here?

[2015-06-25 13:37] alexeygolev commented on #401
@rrees it indeed did break in FF. Works in Chrome, Opera and Safari

[2015-06-25 14:17] theefer commented on #348
cc @OliverJAsh.

I can't remember. From looking at the code, it ensures that if the `html` contains text that isn't a block-level element (e.g. text node or a span), then it gets wrapped into a P. Does that behaviour still work if the line is removed?

[2015-06-25 15:41] regiskuckaertz commented on #348
@theefer Nope. What do you think of putting that line behind a guard, e.g. testing whether the insertion point is `scribe.el`? The copy-pasting of words seems like a normal use case.

[2015-06-26 13:55] theefer commented on #348
So when would the wrapping be happening once guarded?

I must admit this is quite a fiddly part of the code and the kind of wrapping/tidying up may be better done as a post-paste cleanup nowadays. Maybe we should try changing to remove the wrapping and do a lot of manual QA of copy/pasting from various sources (Word, GDocs, email, other site), see what happens, and write new tests for any cases we

[2015-06-26 15:17] webdesserts commented on #199
We had a similar problem. In my case our toolbar had a dropdown you could select from (similar to a heading size selector) that would cause scribe to lose focus. I ended up using @sted's hack to get things working, but I would much prefer a built-in solution.

[2015-06-26 17:06] #335 closed

[2015-06-26 17:12] rrees commented on #286
We've decided that we can't really commit to supporting IE so until something changes we are currently going to stick to recent versions of Firefox and Chrome.

[2015-06-26 17:12] #286 closed

[2015-06-26 17:13] rrees commented on #289
Didn't happen

[2015-06-26 17:13] #289 closed

[2015-06-27 15:57] rrees commented on #401
@alexeygolev Okay, I have taken on your suggestion and this should now work for all browsers (release 1.4.8 or later).

[2015-06-28 23:09] trevordixon opened #408 "JS error on each keystroke coming from scribe-plugin-smart-lists.js"
`Uncaught TypeError: Cannot read property 'isBlockElement' of undefinedfindBlockContainer @ scribe-plugin-smart-lists.js:26`

![scribe](https://cloud.githubusercontent.com/assets/1253245/8398734/fa0fd850-1daf-11e5-99a8-ac98c07c0c14.gif)

[2015-06-29 06:46] regiskuckaertz commented on #408
@rrees My previous PR introduced a backwards-incompatible change by removing `scribe.element`. I thought about going through all the plugins I knew of, but I find adding it back as an alias of `scribe.node` and mark it as obsolete would be a better fit. If that's fine with you, I'll submit a PR asap.

[2015-06-29 10:18] #208 closed

[2015-06-29 11:52] rrees commented on #408
@regiskuckaertz Okay, sounds good but it's probably worth changing the plugins as well

[2015-06-29 15:35] webdesserts opened #411 "contenteditable="false" behavior"
We're trying to use scribe to produce editable templates for our users that contain "variables" that can be automatically populated with data from our database. We originally tried ckeditor to achieve this and were able to do so by adding `contenteditable="false"` to a span with data attributes attached.

When I attempt to create a span with `contenteditable="false"` while using scribe the behavio

[2015-06-29 15:45] webdesserts commented on #411
Here's the [default behavior without scribe](http://jsbin.com/jiwowudoqu/edit?html,output)
Seems that issue 2 still exists, and again, issue 1 is probably just an issue with cursor placement. Issue 3 (which is the main problem) still exists.

[2015-06-29 15:54] hmgibson23 commented on #411
We've had a lot of issues with caret placement, maybe @cutandpastey and @redman can elaborate.

[2015-06-29 16:05] rrees commented on #408
@trevordixon this should be fixed now, can you confirm?

[2015-06-29 17:09] robinedman commented on #411
Have you tried whether this works in a plain contenteditable in Firefox? (See https://bugzilla.mozilla.org/show_bug.cgi?id=685445).

If this doesn't work consistently across browsers the best approach might be to create a Scribe patch that implements the expected behaviour.

We've implemented our own caret positioning in [scribe-plugin-noting](https://github.com/guardian/scribe-plugin-noting). The

[2015-06-29 17:55] webdesserts commented on #411
Ok, just a quick run through testing out that jsbin in different browsers:

Firefox seems to be the main offender of *issue 2*, Chrome and Safari act fine. Also @robinedman, I took a look at it, and yes, that bug apparently still persists in Firefox. I don't have a means to test IE or mobile at the moment (our app is more of a desktop app so we don't develop for either). Chrome and Safari have ano

[2015-06-29 17:58] webdesserts commented on #411
@robinedman also, thanks for pointing out the noting plugin. Since scribe's docs, and especially contenteditable's docs, still haven't been fleshed out, examples help tremendiously.

[2015-06-29 20:32] trevordixon commented on #408
Yep, no more error.

[2015-06-29 20:32] #408 closed

[2015-06-29 21:07] bradvogel commented on #411
Try using an iframe instead, e.g. `<iframe srcdoc="variable"></iframe>`

[2015-06-30 05:54] regiskuckaertz commented on #381
@hmgibson23 if this is still occuring I can work on that. can we agree that pressing H2 should in fact produce:

[code]

like it would in a page layout/word processor software?

[2015-06-30 08:35] hmgibson23 commented on #381
@regiskuckaertz - that sounds good to me.

[2015-06-30 12:02] anatoliyarkhipov commented on #95
+1

[2015-06-30 14:16] webdesserts commented on #411
@bradvogel the iframes do have something closer to the behavior I'm looking for though I will say I don't think we'd be too excited about the idea of scattering 20+ iframes across our document for single word spans (though I guess it's better than nothing).

Btw, we were able to accomplish this in Ckeditor with their [widgets](http://docs.ckeditor.com/#!/api/CKEDITOR.plugins.widget) it looks like

[2015-06-30 15:54] webdesserts commented on #411
`<input type="button" value="variable" />` is actually acting a bit closer to what I'm looking for without having to resort to iframes. We would just maybe have to fix some carret placement. I am having a problem with scribe preventing us from inserting an input in chrome, whereas input insertion works normally with a normal `contenteditable`. Any idea what might be causing scribe to prevent this?

[2015-06-30 16:39] robinedman commented on #411
I suspect it's `scribe-plugin-sanitizer` getting in the way. You could try disabling it to see if that's the case.

The sanitizer plugin uses `HtmlJanitor` which has whitelists of allowed elements. You might want to add BUTTON as an allowed tag [there](https://github.com/guardian/html-janitor/blob/master/src/html-janitor.js) or potentially [in the sanitizer plugin itself](https://github.com/guardi

[2015-06-30 17:53] rrees commented on #411
You can embed a contenteditable="false" inside a contenteditable="true"?

![](http://i.giphy.com/5aLrlDiJPMPFS.gif)

[2015-06-30 17:54] rrees commented on #411
@robinedman @webdesserts I'm not sure the sanitizer is a default plugin, could you point us towards an example page or share the config you're trying to use?

[2015-06-30 17:55] rrees commented on #401
@alexeygolev I think release 1.4.13 might be the definitive solution for this. Do you want re-test and confirm?

[2015-06-30 17:56] rrees commented on #397
Are we okay to close this one now?

[2015-06-30 17:57] rrees commented on #317
Since ultimately we couldn't support ShadowDOM as yet. Closing.

[2015-06-30 17:57] #317 closed

[2015-06-30 17:58] regiskuckaertz commented on #397
Yes of course.

[2015-06-30 18:07] webdesserts commented on #411
@robinedman @rees I figured it out, it was an issue with my jsbin, not scribe, so it's just the weird behavior with firefox caret placement.

[2015-07-01 13:46] alexeygolev commented on #401
@rrees yep... works across the browsers...cheers

[2015-07-01 16:09] bytasv opened #414 "".active" class is being maintained on element even after loosing focus"
Hello,

I've just started using scribe editor and found strange bug that ".active" class on toolbar elements is maintained even after editor loosed focus. This is odd and might mislead users because some options are shown as active even though no visible text selection is currently on...

Simple steps to reproduce:
1. Go to http://guardian.github.io/scribe/
2. Select `Hello`
3. Give **bold**
4. Ma

[2015-07-02 21:36] webdesserts commented on #411
So we went and did some research into which weird elements worked best for our purposes. We're going to try out using an `input[type=text,disabled]` because it's probably the least horrible of the available solutions where we didn't need to patch too many things. Thought y'all might find some use in the data we collected so here's our [google doc](https://docs.google.com/spreadsheets/d/1hGCC4hIHz0

[2015-07-03 09:59] #401 closed

[2015-07-10 03:27] jonsamwell commented on #83
Is there a way to use this without any fancy dependency management wrappers via just normal <script> tags.  I also get a 'define is not defined' error when loading and I really don't want to have to include a loader of some sort to get this working.

[2015-07-11 19:54] alexeygolev commented on #414
I think it belongs here https://github.com/guardian/scribe-plugin-toolbar
As far as I understand you can just call toolbar's updateUi method on blur.

[2015-07-16 12:25] kof opened #417 "Please make marker regex public"
Sometimes you need to do the [same](https://github.com/guardian/scribe/blob/master/src/scribe.js#L170) in user or plugins code. Its better to reuse it rather to copy paste. I was relying on the version without "display: none;" before and now it broke my code by accident. Of course its not your fault as it was private thing, so thats why I am asking to make it public.

[2015-07-17 12:13] anatoliyarkhipov opened #418 "listeners.delete(fn) in event-emitter.js"
Hi. There is a line in `event-emitter.js`:
https://github.com/guardian/scribe/blob/2f676370f2c181a91088f1535c261e21073b5175/src/event-emitter.js#L21

Can you please change `.delete(fn)` to `["delete"](fn)` to make it compatible with IE8?

[2015-07-20 21:09] brandondurham opened #419 "Creating plugin: What’s the cleanest way to detect if the current selection is already wrapped in a whitelisted element?"
I'm working on a plugin for font sizes that just wraps the selected text in a `<span>` and applies `style="font-size: [n]px;"` to the span, where `[n]` gets replaced by the value passed in. My code thus far:

[code]

I’d like to be able to just reuse a span (or any element, for that matter) if the currently-selected text is wrapped in one. With the above code, if you select the characters “Basil E

[2015-07-20 21:15] JeSuis commented on #419
`parentElement.nodeName` should do it, but there might be more to what you want to do (and I'm totally for it)
Considering you need to merge the attributes into one tag.
Is this in a single plugin or does it span multiple ones?

[2015-07-20 21:17] brandondurham commented on #419
This comparison function will actually span multiple plugins that I'll be sharing in the not-too-distant future.

[2015-07-21 14:19] brandondurham commented on #419
`parentElement.nodeName` won't necessarily tell me if the selected text is already wrapped in a `<span>`, though, right? It will just give me the `nodeName` of the parent.

[2015-07-23 10:58] SgtOddball opened #420 "Text colours and the toolbar plugin"
Is there currently a way to edit the colour of text (in the same way strikeout can be used for example) highlighted through the tool bar or is it something not currently available either as a default or 3rd party plug-in?

I'm just wanting to make sure I've not missed something blindingly obvious before I look further into this.

[2015-07-27 09:56] hmgibson23 commented on #420
There's nothing I'm aware of but this would be pretty trivial to implement as a plugin.

[2015-07-27 20:45] lencioni commented on #368
I just tried upgrading the app that @rf- has been working with to 1.4.15, and things seem to be working fine. Thanks for fixing this!

[2015-08-05 11:45] jesteracer commented on #366
Any updates on this? I am trying to find a way to sign every p tag with a random digest, either adding id, or adding a data-attribute, but unfortunately can't get my head around it.

[2015-08-05 12:42] hmgibson23 commented on #366
It should be pretty simple to bind to the content-changed event and updated
each time that occurs.

On 5 August 2015 at 12:46, Boris <notifications@github.com> wrote:

--

------------------------------
Visit theguardian.com. On your mobile and tablet, download the Guardian
iPhone and Android apps theguardian.com/guardianapp and our tablet editions
theguardian.com/editions.  Save up to 57% by subs

[2015-08-05 14:30] JeSuis commented on #366
@jesteracer you're trying to do it on creation of the dom elements while working in the editor or when loading the content from your data source?

Either way it shouldn't be complicated, just a matter of which route to take.

[2015-08-06 09:29] regiskuckaertz commented on #366
Just chiming in here: wouldn't a DOM observer be more appropriate in this case? There is already one at work in event.js, it could easily trigger events when nodes are added/removed and provide a fine-grained control over the content of `scribe.el`.

There is a problem though, as `innerHTML` is overwritten every time nodes are added/removed, which is some kind of brute-force solution that makes ke

[2015-08-06 09:30] theefer commented on #366
There was always a plan to use virtual-dom for all mutations and only apply the changes as patches, which would retain element identity in many cases (though cannot always be relied on). This hasn't been implemented yet unfortunately.

[2015-08-13 13:40] robinwassen commented on #301
I just tested out our implementation of scribe (thanks for an awesome library btw) on iOS and it worked pretty well in Mobile Safari.

But when running the same implementation in a `UIWebView` (embedded in an iOS app) it managed to initialize, but no interaction with the editor worked. No errors were thrown.

The reason for this is probably that `UIWebView` doesn't run Mobile Safari's Nitro Javasc

[2015-08-13 20:05] rrees commented on #419
@brandondurham If I understand you correctly then `extractContents` returns a [DocumentFragment](https://developer.mozilla.org/en-US/docs/Web/API/DocumentFragment) which you can check the first element of.

[2015-08-13 20:09] #420 closed

[2015-08-14 17:03] rrees commented on #418
@anatoliyarkhipov We won't accept changes like this into mainstream Scribe but I'll look at doing a Scribe-CE release for you with the change.

[2015-08-15 08:17] NdYAG opened #422 "Typing backspace terminates the composition of IME for Chinese/Japanese"
When I'm typing Chinese and Japanese in scribe, I found that code in `patches/events` terminates the IME's composition in Chrome.

Typing CJK(Chinese/Japanese/Korean) characters need the help of [IME](https://en.wikipedia.org/wiki/Input_method_editor), which buffers the user's keystrokes until a character or word has been made.

![scribe](https://cloud.githubusercontent.com/assets/1396511/9288087/

[2015-08-15 08:25] NdYAG commented on #422
The solution is easy...

[code]

I could make a pull request if you are willing to accept...
`composition` related event are not fired if you type in English/French/... which do not need composition.

[2015-08-16 09:44] 1shiharat commented on #422
+1 for these changes.

[2015-08-17 17:05] rrees commented on #422
We could look at a pull request and related tests, I'd like to accept it but without an update to the test suite I think we'd be liable to regressions.

[2015-08-18 16:27] ld0rman commented on #146
@theefer hello, you say that it's usable via CommonJS, but I'm not really sure I've understood how this is achievable. I can see in the examples there is a way of building a sort of standalone package, but there doesn't seem to be a way to make Scribe play nicely in an actual CommonJS environment.

If it's CommonJS compatible, I would expect to be able to require('scribe-editor') and it to "just w

[2015-08-21 10:22] ld0rman opened #423 "<img> split out of <figure> on Scribe.insertHTML()"
Hello, I'm trying to implement a way to insert images into a `contenteditable="true"` `div` using Scribe.

I place the cursor at what I assume to be the end of a line:
[code]
Call the function with the `figure` markup:
[code]

Result I would expect:

[code]

Result I obtain:

[code]

I'm not entirely familiar with everything Scribe does at the moment; is this some automatic formatter that's pullin

[2015-08-21 10:29] hmgibson23 commented on #423
Hard to tell without stepping through but best guess would be that you're trying to put a block level element - in this case a ```<figure>```  - inside a ```<p>``` which is not allowed.

[2015-08-21 10:34] ld0rman commented on #423
Hadn't thought of that - so basically I need to make sure the cursor is **actually** at the end of a `<p>` and not inside it? Does Scribe have any helper functions for that sort of thing?

[2015-08-21 10:34] hmgibson23 commented on #423
You should be able to check the position of the scribe markers and that will show you where the selection begins and ends.

[2015-08-21 10:42] Viclick commented on #118
Disclaimer: I'm using only windows version of the mentioned browsers.

I traced the problem to line 21 in scribe-plugin-toolbar.js which reads scribe.el.focus(); This line makes the selection collapse (unselects the selected text). This then makes the create-link.js command proceed as if no text was seleted.
In chrome/opera the focus() does not make the editor lose it's selection. It's even observ

[2015-08-21 10:52] ld0rman commented on #423
Does that mean I have to create a Scribe selection?

[2015-08-21 13:45] ld0rman commented on #423
In the end I got around it in the following way::

1. Create a selection with new scribe.api.Selection();
2. Place a scribe marker with selection.placeMarkers();
3. Get the HTML of the Scribe instance with scribe.getHTML().
4. Find the marker index in the HTML string.
5. Find the next `<p>` or `</p>`, whichever is closer.
6. Split the string at this point (where the line ends) and insert the `figu

[2015-08-21 22:40] rrees commented on #118
So if we're dealing with Firefox we need to capture the selection before the focus and save it?

Are you interested in putting together a test case and solution into a PR on the toolbar plugin?

[2015-08-24 13:09] arekkas commented on #83
+1 any news on this?

[2015-08-28 06:08] ld0rman commented on #423
Ok, took the time to learn a bit more about how Scribe works and made a much better solution inspired by the Coursera table plugin. Will try and find the time to open source the plugin. Thanks for your help.

[2015-08-28 06:08] #423 closed

[2015-08-28 19:11] jackmoore commented on #423
@ld0rman I hope you find the time, I would be interesting in seeing your plugin.

[2015-08-28 21:33] dandv opened #424 "Paste images from clipboard"
Just discovered Scribe and love the tight scope. I [too](https://github.com/guardian/scribe/issues/183) was looking for image support, more precisely pasting images from clipboard the way Slack, Imgur, GitHub etc. allow.

So far I've only found [this plugin](https://github.com/bliker/scribe-plugin-image-prompt-command), which seems to only take images accessible at a URL.

I'm [comparing WYSIWYG e

[2015-09-03 22:30] josh-infusionsoft opened #425 "Determine keydown event when execute is called"
I am creating a plugin and there is a certain case where execute is called by either [enter or backspace] (https://github.com/guardian/scribe/blob/master/src/plugins/core/events.js#L163) in a list and I need to know which key it was.

Is there a known way to get this information (must work in FF and chrome)? Or will I need to modify scribe in order to accomplish this?

[2015-09-03 23:22] josh-infusionsoft commented on #365
This is a problem I am running into as well. I have attempted to mimic the functionality of document.execCommand('insertOrderedList', false, null) with a custom plugin which has its own challenges.

I am not sure how much I like the solution provided here but I wanted to at least make it known that others are running into this problem.

[2015-09-06 14:09] aclever opened #426 "scribe-plugin-toolbar in iframe"
Hi guys. Have a problem with using 'scribe-plugin-toolbar' in iframe.
Toolbar with my buttons always disabled.

`command.queryEnabled()` always return `false`.

Help please.

[2015-09-07 16:49] rrees commented on #426
Hi there, do you have some example code that illustrates the problem?

[2015-09-07 16:59] aclever commented on #426
I am using reactjs + webpack
FRAME is't `'react-frame-component'`
npm package `'scribe-editor'`

My render function.
[code]

Scribe initialisation:
[code]

[2015-09-07 18:57] aclever commented on #426
@rrees oh.. just forgot.. scribe not works in the iframe.
I've tested separately (without ifame), and all works fine.

[2015-09-08 07:57] rrees commented on #426
Okay, glad you were able to sort out the cause.

[2015-09-08 07:57] #426 closed

[2015-09-08 23:29] josh-infusionsoft commented on #425
Here is my attempt at a fix. If you have a better suggestion I would love to hear it:

https://github.com/guardian/scribe/pull/428

[2015-09-09 19:00] aclever commented on #426
@rrees Sorry, can you help me with iframe? Why editor isn't work?)

[2015-09-11 12:34] aclever commented on #426
@rrees just to clarify I wasn't able to solve the issue. So again I'm seeking help in getting Scribe to work in an iFrame. As discussed earlier, everything works fine outside of the iframe; however, implementing the editor inside an iframe causes most functions to stop working. As far as I can see only text formatting seems to work inside an iframe.

Can you please advise on best implementation in

[2015-09-11 12:42] aclever opened #429 "scribe-plugin-toolbar not workin in an iframe"
Hi guys. I've run into a problem with using 'scribe-plugin-toolbar' in an iframe.
Toolbar with my buttons is always disabled.

command.queryEnabled() always returns false.

I'm using reactjs + webpack
FRAME is 'react-frame-component'
npm package 'scribe-editor'

My render function:
[code]

Scribe initialisation:

[code]

I'm not seeing errors and formatting with <p>  works fine for me. But sadly n

[2015-09-11 13:32] rrees commented on #429
See the changes in #290 for what is required to make Scribe work in an iframe. This caused us regression issues so a variation on the solution may be required.

[2015-09-11 13:32] #429 closed

[2015-09-11 13:34] rrees commented on #426
The issue is that Scribe directly interacts with things like `document` and `window`. See this [PR](https://github.com/guardian/scribe/pull/290) that solved the problem at the cost of other issues.

Scribe doesn't currently support being embedded in an iframe.

[2015-09-14 10:47] Viclick commented on #118
I will try.

[2015-09-14 15:16] rrees commented on #425
Please test release v2.0.1 and close if fixed. Thanks for the PR.

[2015-09-14 20:13] #425 closed

[2015-09-14 20:21] josh-infusionsoft opened #430 "Selection range incorrect when inside a list"
I have a plugin and inside my execute method I am doing the following:

[code]

I have the following list already inside the target div:
[code]
I place the cursor at the end of the second LI and then call execute. I would expect the selection range start container to be the new P element I created and called selectNode on. This is not the case, instead the div element is selected.

Am I misunderst

[2015-09-18 02:13] bradvogel commented on #229
Looks like this is fixed. Thanks!

[2015-09-18 02:13] #229 closed

[2015-09-18 08:30] rrees commented on #424
Hi @dandv this would definitely be implemented as a plugin rather than core functionality. I assume you would want to be able to drag an image onto a Scribe instance and have been translated into an `img` element?

[2015-09-18 08:31] rrees commented on #430
I'm afraid this is beyond my knowledge, maybe someone else can jump in and help.

[2015-09-21 23:23] #430 closed

[2015-09-26 21:00] srad opened #432 "bower install doesn't install needed plugins (also with --save-dev)"
When I follow the readme.md and run an installation via ```bower install scribe``` and load scribe with require-js then I get straight missing plugin errors:

[code]

Leaving aside that you use relative paths in your modules which has to be handled in the require.config with a package definition (which is not mentioned).

Whatever, I tried to install the plugins separately but of course the paths

[2015-09-28 19:21] crasu opened #433 "Paste does not work on android"
Pasting text into scribe does not work for me on android 5.x.

The mobile chrome paste event does not contain the pasted content in event.clipboardData.types. However the code around line 188 in events.js seems to expect this. Adding a check event.clipboardData.types seems to fix the issue.

Would you merge a pull request for this issue even if mobile chrome is not officially supported?

[2015-09-29 14:09] rrees commented on #433
@crasu happy to take a pull request but obviously as it would not be in the test suite it might be vulnerable to regressions. Add a comment on the check to make clear why it is there.

[2015-09-29 17:06] rrees commented on #432
You're right that we don't go into the require config in the readme. Maybe something we should add to the wiki...

However I think your problem is related to the require setup since it is failing to load the individual Scribe source files. What do you have 'scribe' aliased as?

[2015-09-29 17:07] crasu commented on #433
see #434

[2015-10-03 15:31] #433 closed

[2015-10-05 11:09] jamespamplin opened #435 "Firefox: NS_ERROR_FAILURE when refreshing page"
A page with Scribe and `scribe-plugin-toolbar` will throw a `NS_ERROR_FAILURE` error when the scribe element is focussed and the page is refreshed on Firefox.

[code]

[code]

Appears to be caused by `document.queryCommandState` throwing the error for each toolbar element when the page is refreshed.

[2015-10-05 11:14] rrees commented on #435
@jamespamplin yeah there are a number of Firefox focus issues. Do you think there is way of detecting and correcting the focus in code?

[2015-10-05 11:16] jamespamplin commented on #435
I caught `NS_ERROR_UNEXPECTED` errors with a try catch in #406 before. Was thinking of wrapping `document.queryCommandState` in a try catch for this specific error.

[2015-10-12 23:23] shaunnetherby commented on #348
This has been a problem for me.  I have a solution that seems to work, but I would be curious if anyone has a better idea.  I made an insertHTML patch that unwraps the outer `p` tag if in Firefox.  It then calls the default insertHTML patch with that value.

    return function (scribe) {
			var insertHTMLCommandPatch = new scribe.api.CommandPatch('insertHTML');

			var defaultInsertHTMLCommand =

[2015-10-20 17:03] philmcmahon opened #437 "Linking doesn't work correctly when keyboard used to select text in firefox"
If you select text using the keyboard in firefox (e.g. shift+left) then add a link (either with the button or cmd+k) then the link itself gets pasted in instead of the text being linked. This doesn't happen in chrome.

[2015-10-20 17:05] rrees commented on #437
https://github.com/guardian/scribe-plugin-link-prompt-command/issues/12

[2015-10-21 09:47] philmcmahon commented on #437
From Lydia: It's not the most urgent issue, but it's consistently affecting one of our users, so it would be good to get it fixed."

[2015-10-22 15:57] WickyNilliams commented on #83
Would you accept a PR converting scribe to CommonJS, adding in browserify and outputting a UMD build?

[2015-10-22 15:58] hmgibson23 commented on #83
@WickyNilliams - we'd certainly look at it!

[2015-11-09 21:17] tommiv commented on #348
Thanks, it works. I will use it as temporary solution.

[2015-11-11 12:48] triptec commented on #95
Any news about this? I'm also putting this in a react app and would like to clean up.

[2015-11-11 12:53] rrees commented on #95
I think we're looking for a suitable community contribution.

[2015-11-11 12:58] triptec commented on #95
@rrees is there something simple to start with, like adding it to the api and set this = null and then step by step clean up plugins, event listeners et al?

[2015-11-11 13:19] rrees commented on #95
@triptec I love changes that are simple so this sounds like a good place to start.

[2015-11-11 13:20] triptec commented on #95
I'll look into it this weekend.

[2015-11-11 13:23] rrees commented on #95
Thanks feel free to just implement the basic stub and then add the event listeners and plugins in a follow up.

[2015-11-16 07:05] bedeoverend opened #442 "Unbolding different weight b tags"
It seems that if `b` has custom `font-weight` of below 600, so e.g.
[code]
it won't consider selected `b` tag as being bolded, and the unbold command seems to fail. Can manually reproduced on the [scribe example](http://guardian.github.io/scribe/) by adding in a custom style rule as above. I'm using Chrome 46.

I suspect this may be an issue with `contentEditable` itself, if so is a fix for this i

[2015-11-16 11:00] rrees commented on #442
We'll review any PRs that address the issue but it is not currently an issue affecting us.

[2015-11-16 13:58] bloxup commented on #419
Thanks for your code @brandondurham , I wanted to achieve the very same thing and based it off of your code here. These are my results (these are not "production-ready" or tested thoroughly!!):

[code]

I'd very much like to hear your thoughts / experiences since your last post.

[2015-11-16 13:58] jsiebern commented on #419
Thanks for your code @brandondurham , I wanted to achieve the very same thing and based it off of your code here. These are my results (these are not "production-ready" or tested thoroughly!!):

[code]

I'd very much like to hear your thoughts / experiences since your last post.

[2015-11-16 21:30] bedeoverend commented on #442
Righto, I'll look into doing a PR for it then. Cheers

[2015-11-18 01:49] gpbmike opened #444 "HTMLFormatters: Normalize before Sanitize?"
I'm trying to use the [sanitizer plugin](https://github.com/guardian/scribe-plugin-sanitizer) together with the [semantic elements plugin](https://github.com/guardian/scribe-plugin-formatter-html-ensure-semantic-elements). The sanitizer plugin runs during the 'sanitize' phase before the semantic elements plugin runs in the 'normalize' phase.

[code]

https://github.com/guardian/scribe/blob/a621864

[2015-11-18 10:21] rrees commented on #444
Maybe we should allow configuration to override the ordering.

[2015-11-18 14:33] patternseek opened #445 "Deleting all content leads to unexpected behaviour."
Hi,

In Firefox 42, when I delete all the content (select all, keep hitting backspace) in the editor and start typing I get text with no surrounding <p>, separated by <br>s when hitting enter.

In Chrome 45 when I delete all the content I then get each new character that's typed in surrounded by its own <p>, unless I type quickly at which point the text starts appearing normally in a single <p>.

[2015-11-18 16:47] gpbmike commented on #444
Is there a case to maintain separate 'sanitize' and 'normalize' phases? Could all HTMLFormatters be run in the order they are added?

[code]

[2015-12-09 12:45] chrishutchinson opened #446 "Configuring options via a plugin"
Hey folks,

I'm pretty sure I'm missing something, but have trawled through various plugins and haven't been able to see a solution.

I want to change the `allowBlockElements` option depending on some specific configuration I have (I'm running multiple Scribe instances).

This is my plugin code at present, but it doesn't actually change the value of `scribe.options.allowBlockElements`. What am I m

[2015-12-09 13:00] rrees commented on #446
Off the top of my head I think this is correct as options should be immutable once Scribe is in action. Can you run your logic when generating the options block for the initialiser?

[2015-12-09 13:15] chrishutchinson commented on #446
Cheers @rrees! Kept digging and found the `Object.freeze()`. Thanks for clarifying.

We initially didn't think we could change the configuration before initialisation, but have figured out a solution! Thanks, this can be closed.

[2015-12-09 14:41] #446 closed

[2015-12-15 12:47] timmyg opened #447 "Dropping drops at end of content"
I am using SirTrevor which uses Scribe internally. I have it to the point where if you drag a tag in from the outside, it successfully drops into the contenteditable area, but it always drops at the end. I have a feeling it might be dropping at the end of the <p> that is generated internally by Scribe. Any thoughts/ideas for a way to hack around this?

http://codepen.io/timmyg/pen/adOPbp

Thanks!

[2015-12-15 15:08] timmyg commented on #447
Seems related to #411

[2015-12-15 15:27] timmyg commented on #411
@webdesserts do you have a demo of the implementation of the "add variable" that you have in your clip? Am trying to do just that but having issues.

[2015-12-15 16:01] webdesserts commented on #411
@timmyg This was the code I tested everything in the notes with: http://jsbin.com/piyeka/33/edit?html,css,js,output (not what's in the original screenshot though)

[2015-12-15 16:48] timmyg commented on #411
@webdesserts awesome! exactly what I needed. Did you play around with drag/drop at all?

[2015-12-15 18:05] webdesserts commented on #411
@timmyg I did not, sorry. That project got put on hold.

[2015-12-21 19:56] timmyg commented on #447
any thoughts/suggestions?

[2015-12-30 16:39] patternseek commented on #445
Turns out this is due to the component being inside a shadow root. Presumably Scribe isn't meant to be shadow root compatible yet?

[2015-12-30 17:26] rrees commented on #445
@patternseek Congratulations on finding the cause of the problem. We don't use shadow roots in our own usage of Scribe and we did try and add support but it caused problems for us.

If we could get a PR that worked for us and supported shadow DOM we'd definitely accept it.

[2016-01-05 06:41] oyeanuj commented on #89
text element
embed element
video element
another text element
Non-text elements, such as images, embeds, and videos, are just JSON structures that contain the necessary metadata, i.e. a URL to an image. A text element just contains the HTML for that chunk of text. It will have things such as lists and inline styling, but no images or any other rich media.

@OliverJAsh I was quite curious about how

[2016-01-05 06:47] oyeanuj commented on #366
@JeSuis I was wondering if you ever got around to writing the demo you offered above? :)

I am in a similar situation as yours, wherein I am trying to resemble Medium-like behavior but then trying to convert the content from the editor into a json through a normalizer plugin (which will scan for tags and a `data` attribute to match them to an element type (image, video, text, etc).

Seeing your de

[2016-01-05 15:33] JeSuis commented on #366
@oyeanuj I hadn't cause he was basically already doing the same thing
I do have some code for the interface, the popup menu looks the same, I just have to separate it from some backend code that I can't post, so I may need to just work something new for that part.
What stack are you working in? Mine was done in PHP/JS

[2016-01-05 15:49] oyeanuj commented on #366
@JeSuis Thanks for the quick response!

I am working on React/Redux/Rails-API stack but happy to see any stack code, even pseudo-code that explains your thinking :)

[2016-01-05 16:17] JeSuis commented on #366
@oyeanuj
React implementation would be interesting to see.
I probably won't have time to look through things until the weekend.
So I'll get back to you in the coming week with what I have and we'll take it from there.

[2016-01-06 10:52] danburzo opened #448 "Can't type polish letter ż with "Polish Pro" keyboard layout on Windows"
In short, `Right Alt` + `Z` on a Polish Pro keyboard layout will trigger an event with:

[code]

which is caught by the undo manager.

[This article from Medium Engineering](https://medium.com/medium-eng/the-curious-case-of-disappearing-polish-s-fa398313d4df#.2n55jevdw) goes into more details on why this happens.

~~I've forked Scribe and will be providing a Pull Request with the fix.~~ Can't curr

[2016-01-06 10:55] theefer commented on #89
The CMS doesn't use Scribe to represent and edit anything but text.

It's more like:

[code]

![image](https://cloud.githubusercontent.com/assets/36964/12140997/e84bae46-b463-11e5-8eb4-a5216065a780.png)

Hope this makes it a little more clear.

[2016-01-06 11:22] danburzo commented on #448
Anyways, the fix is in https://github.com/guardian/scribe/blob/a62186405271aa52c131ab8313a4f5f027096d6d/src/plugins/core/commands/undo.js#L22.

The line becomes:
 `if (! event.shiftKey && (event.metaKey || (event.ctrlKey && !event.altKey)) && event.keyCode === 90) {`

(same should be done to `redo.js`)

[2016-01-06 16:19] oyeanuj commented on #89
@theefer Thanks for the response! So if I understand it correctly, the image and video embeds don't necessarily deal with Scribe and are just different modules/components interspersed? And does the CMS support any drag and drop between the text, image or video embeds?

[2016-01-06 17:35] theefer commented on #89
Yes.

Not currently, you have to use up/down/top/bottom arrows on the image/video/etc elements to move them around. There is some extra code that splits text elements so you always move media up/down individual paragraphs. You can also *drop* images onto empty lines using some other code handlers, which end up as an image element where you dropped it (again splitting the text element).

Drag and d

[2016-01-10 00:45] paperboyo commented on #448
+1

Maybe it could/should be solved more systemically? There are many more IMEs that use AltGr (that Windows interprets as Ctrl + Alt), including UK IME...

[2016-01-10 17:31] oyeanuj commented on #89
@theefer Appreciate your patience and thanks for your helpful responses :)

Part of me likes the clean separation between text and all other medias. Just to make sure I understand the CMS approach, and that I am on the right path, does the following sound reasonable -

My aims are to be able to drag and drop image, video, or add a link and have that turn into a rich preview. (Paragraph drag and dr

[2016-01-11 06:01] oyeanuj commented on #424
@rrees I came across this while looking for a scribe plugin which does the same. Could you guide on how to implement this or does this exist as a plugin in your knowledge?

[2016-01-13 08:23] danburzo commented on #448
@paperboyo I can't find any other references to `event.ctrlKey` in the code which might `preventDefault()` except the two in Undo/Redo, so I'm assuming all other AltGr combos should work by default.

[2016-01-13 08:42] paperboyo commented on #448
Thanks, @danburzo!

[2016-01-19 13:34] hamnis opened #449 "Add "licence" tag to package.json"
It may be useful to add the license to package.json so one might use automated tools to generate a license report.

[2016-01-19 14:00] rrees commented on #449
Can do.

[2016-01-21 18:59] #449 closed

[2016-01-22 09:22] eide commented on #442
It's with contenteditable itself. Chrome doesn't consider font-weights under 600 to be bold, so it doesn't unbold that.

We "fixed" it by applying a class to the surrounding element that resets the weights just before executing the bold command, and then remove that class just after.

The code looks something like:

[code]

And then the css looks something like:

[code]

We first tried to manipula

[2016-01-25 15:30] ShaunYearStrong commented on #437
I've had a look into this and the occurrences are pretty inconsistent. This doesn't happen at all if you have more than one line of text. Also, if this has already happened once, it doesn't happen again. Those aside, it doesn't happen every time either. Perplexing!

[2016-01-31 16:09] jsiebern commented on #419
Hey guys, thought I'd update this thread as I've made some significant progress to get this working more reliably and even mostly cross-browser. Just check out the latest source here:

https://github.com/jsiebern/scribe-plugin-span-style

[2016-01-31 21:20] brandondurham commented on #419
Very nice, @jsiebern! Taking a look at it now. Thanks for sharing.

[2016-01-31 21:22] jsiebern commented on #419
My pleasure, feel free let me know if you find any improvements or have other suggestions.

[2016-02-10 20:06] nedrocks opened #451 "new Selection() appears to not be atomic"
If using logging or debugging within a keydown event while using scribe, the selection object does not appear to maintain its state correctly. This is not a major issue, but confusing none the less.

To reproduce the issue, add an event listener for the scribe event in a plugin (e.g.):

[code]

Now, select a block of text within the same span (1 or more characters) and type any key that modifies t

[2016-02-15 11:12] lpil commented on #83
:+1:

[2016-02-15 11:14] theefer commented on #83
UMD is on the way out, really. Would be more progressive to port Scribe to ES6 modules, and optionally build CJS/AMD targets.

[2016-02-15 11:17] lpil commented on #83
Even better :)

[2016-02-25 18:51] nedrocks opened #452 "Undo manager cannot be disabled"
If I set undo to disabled, scribe complains because _lastItem is null and part of the constructor calls setHTML which has a call for

`_lastItem.content = <whatever>`

There needs to be an else block to allow for this. Currently, my work around is to simply set

`Scribe.prototype._lastItem = {content: ''};`

[2016-02-26 10:02] rrees commented on #452
Okay good spot, I'll take a look. `setHtml` should probably respect the option.

[2016-02-27 20:29] rrees commented on #451
I think the API just wraps [document.createRange](https://developer.mozilla.org/en-US/docs/Web/API/Document/createRange) so this might be true depending on how that operation works.

[2016-02-27 21:01] rrees commented on #452
@nedrocks do you want to review the associated PR

[2016-03-02 17:09] #452 closed

[2016-03-04 08:13] mindplay-dk commented on #193
This issue has been open for going-on two years. Any progress?

I was poking through every scribe plug-in I could find on Github yesterday, and at least three times, I saw people listening for a list of mouse and keyboard events trying to track the selection.

Is this really very hard to implement? Listen for mouse-up/key-up/focus/blur events, check if the selection has changed and broadcast the e

[2016-03-05 21:12] #432 closed

[2016-03-07 11:06] rrees commented on #193
There's not a huge internal driver for this so I think we'd welcome a community contribution that had general support.

[2016-03-08 16:12] mindplay-dk opened #456 "Break tags inserted everywhere without sanitizer plug-in"
Trying out Scribe for the first time, I immediately ran into this problem: upon making the first change, such as selecting some text and making it bold, break tags are inserted everywhere.

This problem is easy to repeat - start with the [scribe demo](http://guardian.github.io/scribe/) and simply comment out the `scribe.use(scribePluginSanitizer({...}))` call and the `scribe.setContent()` call at

[2016-03-08 16:22] mindplay-dk commented on #89
@oyeanuj Would this make sense as a plugin?

It's not really an editor feature - it's more like the editor is a feature of that interface?

I'm working on something similar, and that's the approach I'm taking - we call them "parts" to avoid ambiguity with HTML "elements", each has a dedicated "driver" that creates and populates the editor interface for it. Each of those drivers create and manage t

[2016-03-08 20:22] rrees commented on #456
The Scribe Sanitizer is not a mandatory plugin and shouldn't be needed unless you want to control the markup. However if you cut and paste into the Scribe instance without sanitising though you will get the default browser behaviour which is likely to not be what you were expecting. Chrome will create a lot of blocks containing only `break return` elements.

I do not feel we can easily say what th

[2016-03-09 07:03] mindplay-dk commented on #456
This isn't about the behavior of the base shim - I consider it more of a framework for editor features than an editor in it's own right.

But in this case, I'm using a simple, well-structured piece of content, and performing a simple operation on it, making some text bold - and I have every plugin from the example page enabled, except for the sanitizer. The problem is also repeatable in a bare edi

[2016-03-09 09:43] rrees commented on #456
Thanks!

Remember to compare the behaviour against the raw content editable as well.

[2016-03-09 09:52] mindplay-dk commented on #456
I did.

Anyways, there is a bug here, I'm pretty sure of it.

I narrowed it down to the `enforce-p-elements` plug-in - remove this and it works normally, without the sanitizer plug-in to clean things up after the fact.

Looks like there's a problem with the `filter()` operation in `wrapChildNodes()` - try adding a `console.log()` statement like this:

[code]

It looks from the console output like

[2016-03-09 10:02] rrees commented on #456
I can't think why we'd want to retain the whitespace, so I'd be happy to give this a go.

[2016-03-09 11:26] mindplay-dk commented on #456
Cool.

Just one thing I'm not 100% sure about - is this the right place to do that?

Would it make more sense to clean the content initially, when the editor is created? Or does it make more sense the way I've done it here, cleaning redundant nodes on-the-fly, while editing?

[2016-03-09 11:32] mindplay-dk commented on #456
Oh, I'm also not 100% sure about the reg-ex, should it be `^\s+$` or `^\s*$`?

I think that question is only relevant if we go with the on-fly-solution, but technically we might have either consecutive text-nodes, or empty (zero length) text nodes - those *can* occur when you make changes to a document.

A possible solution to that problem, would be to add `bin.normalize()` before `wrapChildNodes(

[2016-03-09 12:06] rrees commented on #456
It'll be easier for future readers to put it in the filter and do the work on the fly.

Normalising the HTML seems sensible when I think about it but I'd probably need to see some code and give it a go myself. Consolidation, then filtering seems sensible.

[2016-03-09 12:11] mindplay-dk commented on #456
Sounds reasonable.

Can you take it from here?

I would have liked to submit a patch, but I'm on Windows, and the build scripts have a lot of (binary) dependencies - I haven't been able to get the project to build...

[2016-03-09 12:37] rrees commented on #456
Yep, I'll take a look

[2016-03-09 12:39] mindplay-dk commented on #456
Thanks :-)

[2016-03-15 15:39] mindplay-dk opened #459 "Peculiar undo manager behavior"
I'm seeing some peculiar behavior with `{ undo: { manager: true } }`

--

![undo-weirdness](https://cloud.githubusercontent.com/assets/103348/13783442/c9d76286-eacb-11e5-8dac-63259e018f25.gif)

--

Undo history appears to start a new entry on every first keystroke of every paragraph?

It's not enabled in the [demo](http://guardian.github.io/scribe/), by the way.

[2016-03-15 16:16] mindplay-dk opened #460 "Seeing em.scribe-marker tags during "normalize""
I have a simple plugin along the lines of:

[code]

While visiting every node recursively, I seem to encounter the `<em class="scribe-marker">` tags.

Should that be happening?

[2016-03-15 17:19] mindplay-dk opened #461 "Missing core patch for "bold" and "italic" commands"
Looks like we need core patches to properly support `<strong>` and `<em>` tags - the `strong` and `italic` commands do not work as expected.

In the latest version of Chrome, the `queryState()` method for these two commands appear to depend on CSS artifacts, e.g. whether the content happens to inherit the CSS rules `font-weight: bold` or `font-style: italic`.

You can verify this in the demo, by s

[2016-03-15 17:36] mindplay-dk commented on #461
Hmm, attempted a quick patch by adding this to `patches/commands/bold`

[code]

That does not appear to be enough. The default behavior of executing the "bold" command results in the creation of a `<span style="font-weight: normal;">` node - yikes.

So looks like we'll need a custom implementation of `execute()` for the "bold" and "italic" commands.

Alternatively, maybe we should consider adding

[2016-03-15 21:54] mindplay-dk opened #462 "node.children is undefined?"
In [this function](https://github.com/guardian/scribe/blob/master/src/node.js#L19), did you really mean `node` or `element`?

Because `Node` objects do not have the `children` property - only `Element` objects have that.

[2016-03-15 22:07] mindplay-dk commented on #462
We probably ought to have an extra function to check if a given node is an `HTMLElement`, and then use that to make an extra assertion before relying on `children` - something like:

[code]

[2016-03-15 22:30] mindplay-dk opened #463 "node.elementHasClass arguments"
What's going on [here](https://github.com/guardian/scribe/blob/master/src/node.js#L41)?

[code]

Why is `Node` being passed as an argument?

For the sake of testing?

The test is the only place that function is actually being called from outside - perhaps this was intended as an internal function supporting those other three functions? It's being exported though.

[2016-03-15 23:15] mindplay-dk opened #464 "Logic bug in node.removeChromeArtifacts()"
Possible logic bug [here](https://github.com/guardian/scribe/blob/master/src/node.js#L142):

[code]

I'm not sure what this was intended to do, but it appears to say, "if the node doesn't have the attribute, remove the attribute" - I'm not sure what the intent was, but I don't think this code does anything?

[2016-03-16 09:59] rrees commented on #463
Yes exactly it makes the function work only on it's parameters rather than global state. The base function is the "general" case and the other three are specialisations designed for readability.

[2016-03-16 09:59] #463 closed

[2016-03-16 10:28] mindplay-dk commented on #463
Not really - you're still grabbing the `Node` global in those three functions, so the net result is dependency on the `Node` global for all of the functions that are actually called from outside.

You might as well simplify:

[code]

This saves the overhead of creating and executing an extra function on-the-fly for every call to those three functions.

There is no case where the "general" function

[2016-03-16 11:07] rrees commented on #463
It's a global dependency for the special-case functions not the underlying implementation.

I would generally trade readability for performance overhead. But feel free to attach some performance tests to illustrate the difference, I've been known to change my mind in the past!

[2016-03-16 11:21] mindplay-dk commented on #463
IMO `elementHasClass(Node, 'caret-position')(node)` looks peculiar.

I find `elementHasClass(node, 'caret-position')` is much easier to read. (and understand.)

I guess that's a matter of opinion :-)

[2016-03-16 15:34] rrees commented on #463
Learn to love the Curry! `(Node)('caret-position')(node)` would probably be better but I'm a bit lazy.

[2016-03-16 19:44] rrees commented on #456
Fixed in v2.2.0

[2016-03-16 21:04] mindplay-dk commented on #463
Learn to KISS ;-)

[code]

At least then you're not recreating the functions on every call for no reason.

[2016-03-16 21:05] mindplay-dk commented on #456
Awesome, will test in the morning, thanks!

[2016-03-17 10:00] rrees commented on #463
Yeah, that's a fair improvement.

[2016-03-19 09:23] rrees commented on #463
Tried it today and I the reference to Node in the exports breaks compilation as Node needs to be resolved at compilation.

Lazy is actually better.

[2016-03-19 09:31] rrees commented on #464
@regiskuckaertz do you remember what this code was trying to achieve?

[2016-03-21 13:29] regiskuckaertz commented on #464
@rrees Javascript and type coercion... the empty string is `false` in JS: this code was meant to eliminate instances of `\<elem style="">`. At least that's what I think.

[2016-03-21 13:30] rrees commented on #464
@regiskuckaertz ah, would it be clearer to have the comparison with the empty string here to avoid people deleting it as a no-op?

[2016-03-21 13:31] regiskuckaertz commented on #464
@rrees yes definitely, that's a code smell. I can raise a PR if you want?

[2016-03-21 14:21] rrees commented on #464
@regiskuckaertz that'd be smashing

[2016-03-29 14:59] brandondurham opened #467 "Is it possible to clear the transactionManager history?"

[2016-04-01 21:29] rrees commented on #467
I don't believe it's possible at the moment, what kind of things do you want to be able to do?

[2016-04-03 18:17] mindplay-dk opened #470 "Command.event?"
What's this?

https://github.com/guardian/scribe/blob/master/src/plugins/core/events.js#L163

The Command class doesn't define an "event" property, and it doesn't appear to be used anywhere?

[2016-04-03 18:26] mindplay-dk opened #471 "Node.length?"
What's this?

https://github.com/guardian/scribe/blob/master/src/plugins/core/inline-elements-mode.js#L12

Nodes do not have a .length property, so most likely that part of the expression simply evaluates as `false` in every case.

What was this part of the expression intended to accomplish?

[2016-04-03 18:26] rrees commented on #470
It relates to #428 and is a convenience for plugins. As far as I know no Guardian plugin uses it.

[2016-04-03 18:26] #470 closed

[2016-04-03 18:29] rrees commented on #471
My guess would be that this is meant to be a check on the childNodes length.

@OliverJAsh I don't suppose you can recall what this condition was aiming to do can you?

[2016-04-03 18:29] #464 closed

[2016-04-03 18:29] rrees commented on #462
I agree with trying to implement the right check

[2016-04-03 18:32] mindplay-dk opened #472 "extra arguments to Range.setEndAfter()"
Search the codebase for `.setEndAfter()`, and you'll see `Range.setEndAfter` being called in a few places with what appears to be an extra `0` argument after the node?

According to Mozilla's DOM reference, that method takes one argument:

https://developer.mozilla.org/en-US/docs/Web/API/Range/setEndAfter

[2016-04-03 18:33] mindplay-dk commented on #472
There are calls to `Range.setStartAfter` passing an extra second argument as well.

[2016-04-03 19:39] rrees commented on #472
I'll check with @OliverJAsh in case of any undocumentated behaviour but it looks like the additional parameters could be removed

[2016-04-04 08:27] #397 closed

[2016-04-04 09:30] OliverJAsh commented on #471
I don't remember writing that! Sorry that's not very helpful…

[2016-04-04 09:31] OliverJAsh commented on #472
:+1:

[2016-04-04 17:24] mindplay-dk commented on #471
Well, the comment says "If the node is a non-empty element or has content", so that explains the intent. Except this wouldn't work, and one wonders if it should work that way or not?

I'd suggest de-obfuscating that curious use of `Array.indexOf` and the binary `~` operator as well.

So probably:

[code]

(probably this function should be given a name though, and moved into `node.js` with the othe

[2016-04-04 19:59] mindplay-dk opened #474 "Any interest in a Typescript port?"
For the past week or so, I've been porting Scribe to idiomatic Typescript.

https://bitbucket.org/mindplaydk/scribe-ts

By "idiomatic", I mean all "classes" and manual calls to parent prototypes have been ported to e.g. `class` and `extends` and `super` calls. Also, all dependencies on immutable.js and lodash have been factored away - which makes the net footprint of the compiled codebase quite a

[2016-04-05 07:41] hfactor opened #475 "Malayalam Character input bug in Scribe"
1. Open [scribe](http://guardian.github.io/scribe/) in Chrome
2. Type or copy paste a Malayalam word (മലയാളം)
3.  Now try to edit the string in middle by TYPING another character in middle of the string, for eg: I want to add  ക between ല and യാ.
The new character appears along with a selection :

<img width="153" alt="screen shot 2016-04-05 at 1 03 58 pm" src="https://cloud.githubusercontent.com/

[2016-04-05 08:38] rrees commented on #474
I was wondering how you were discovering all these issues. I'll take a look. My first reaction is the change is so great it would probably be best as a fork.

[2016-04-06 07:32] mindplay-dk commented on #474
Up to you.

You really should try opening the codebase in VS Code or ATOM with the proper plug-ins installed though - it's a joy to work with inspections and intelligent auto-complete. Makes it much easier to make changes without trial-and-error or fear.

Also consider the fact that Typescript is not some strange and exotic language anymore - it's basically modern ECMA JS with type-annotations. (I

[2016-04-06 10:26] mindplay-dk commented on #474
Okay, it looks like I already broke BC on a couple of minor points, heh.

Most importantly, existing plugins access prototypes through the classes exposed via `scribe.api` to simulate inheritance - I tried to factor away dynamic class creation (in favor of composition) in all of those classes.

It's easy to change that back and restore API compatibility. On the other hand, porting e.g. `Command` p

[2016-04-06 12:32] mindplay-dk commented on #474
Okay, turns out I need to sidetrack and prioritize a different project, probably until early next week - so take your time to review this and make a decision. Just let me know by monday next week, if you can - at that point I need to resume and make progress, in one direction or the other :-)

[2016-04-06 20:37] #472 closed

[2016-04-08 13:00] rrees commented on #474
@mindplay-dk we've had an internal discussion and we think that we don't have the skills or the time to support a TypeScript version of Scribe. We would probably just get in the way. The best thing would be for you to create a separate project and we'll link to as an alternative to Scribe.

[2016-04-10 21:06] mindplay-dk commented on #474
No problem, we'll continue in our own direction :-)

[2016-04-10 21:24] #471 closed

[2016-04-11 17:09] #474 closed

[2016-04-21 10:04] frenzzy opened #477 "How to add target="_blank" attribute to anchor tag"
If you want to keep visitors on your site and also give them the ability to add links, it is necessary to make external links open in a new tabs.

It's not good to use javascript handlers for this links because the guest version of the page can work without javascript at all.

So, need an ability to add `target="_blank"` attribute for anchor tags.

Any suggestions how to do it?

[2016-04-24 22:18] paperboyo commented on #475
Hello,

I’m able to go through the procedure without errors on Windows 10, latest Firefox & Chrome using Google Input Tools and Windows own Malayalam IME to enter malayalam letter ka (U+0D15) in the indicated place in the pasted string മലയാളം (yours contains some non-braking space characters):

![chrome malayalam](https://cloud.githubusercontent.com/assets/6032869/14770806/09b6f608-0a72-11e6-9b39-

[2016-04-24 22:21] paperboyo commented on #282
Related: https://github.com/guardian/scribe/issues/448

[2016-04-24 22:29] paperboyo opened #478 "Undo misplaces the caret/cursor"
Hello,

Undo/Redo is not playing nice with the caret/cursor position (Undos/Redos at the end of a GIF, after placing an extra `s`):

![undo scribe](https://cloud.githubusercontent.com/assets/6032869/14770938/1e5dfa00-0a74-11e6-9eb7-cb6ad7abacb9.gif)

I think Undo/Redo should leave the caret/cursor at the position it was before Undo/Redo was called for.

Regards
Mateusz

[2016-04-25 07:44] rrees commented on #478
This is due to our use of a time-based undo, effectively the whole local change is being undone, which is probably right in the majority of cases. Not sure what to do about it right now.

[2016-04-25 07:46] rrees commented on #477
I think it would probably make sense to create a plugin to manage the creation of the link for you so that the user will provide the URL and target value. [This plugin](https://github.com/guardian/scribe-plugin-link-prompt-command) doesn't quite do what you want but might be a place to start.

[2016-04-25 07:53] paperboyo commented on #478
Thanks! Closing, if that’s what’s expected...

[2016-04-25 07:53] #478 closed

[2016-05-03 08:45] danburzo commented on #422
(Possibly related: https://github.com/guardian/scribe/issues/345)

[2016-05-03 11:01] danburzo commented on #422
I've tried working on a general solution for this, here are my conclusions:

My first attempt, with the idea of bypassing regressions altogether, was to create a plugin with which you could handle composition events. Something like:

[code]

This does the trick of preventing the problematic `keyup` handle from firing when we're composing. However, there are a few problems with this approach:

1. I

[2016-05-05 07:20] #448 closed

[2016-05-05 10:24] danburzo commented on #282
Should be fixed now!

[2016-06-07 12:51] Greeny7 opened #481 "br tags in headings"
Way to reproduce bug at the demo-page:
1. create three `<p>`-paragraphs
2. select them
3. click h2-button, so you get `<h2>Hello, World!<br>Hello, World!<br>Hello, World!</h2>`
4. set caret after last `<br>` and try to click h2-button again to remove h2 tag. It will not work.
5. If you wil set caret before `<br>` and try to click h2, at first it will remove `<br>`-tag and after another click it wi

[2016-06-07 14:30] rrees commented on #481
Confirmed 😞 , works if the whole h2 is selected so has a workaround.

[2016-06-09 11:36] tompazourek opened #482 "Code button in the demo not working properly"
Hi Guardian team!

Using Chrome 51 on Windows.

When I try your currnet [demo](http://guardian.github.io/scribe/), the **Code** button is not working correctly. It is like the editor did't recognize that some text was already wrapped in `<code>`, so it keeps wrapping it over and over instead of removing the code formatting after second click.

How to reproduce:

1. Open the demo
2. Select the word

[2016-06-10 05:23] Iuriy-Budnikov opened #483 "Do you have example with tables & custom tag?"
Hey guys.

[2016-06-13 13:28] mindplay-dk commented on #459
I can't seem to reproduce this issue anymore, did you fix it? (maybe it was due to something I was doing with another plugin?)

[2016-06-13 13:36] mindplay-dk commented on #459
Sorry, no, this is the same as before, I just had undo disabled...

[2016-06-13 13:41] danburzo commented on #477
Here's one way to retroactively add the `target="_blank"` attribute to all links, by registering a formatter on `export`:
[code]

[2016-06-13 13:42] mindplay-dk opened #485 "UndoManager and transaction documentation"
Inline documentation for UndoManager transactions is more or less non-existent.

What exactly are the transaction objects?

It appears to be an overloaded version of [`DOMTransaction`](https://dxr.mozilla.org/mozilla-central/source/dom/webidl/DOMTransaction.webidl), e.g. with several custom properties, including `scribe`, `content` and `previousItem`.

And it doesn't look like the `scribe` propert

[2016-06-14 15:57] rrees commented on #483
Here is an example of a [plugin that adds table support](https://github.com/coursera/scribe-plugin-table-command).

I'm not sure what you mean about custom tags.

[2016-06-14 15:58] #477 closed

[2016-06-16 10:02] hfactor commented on #475
@paperboyo : Can you try with Key Magic or any transliteration tool?

[2016-06-16 10:05] paperboyo commented on #475
Hi, @hfactor! I'm not familiar with any of these and on holidays now for three weeks :-) The above two ways (Google Input Tools and Windows own Malayalam IME) seem to work correctly. Are you seeing errors with Key Magic? Maybe the problem is on Kay Magic's side? Maybe try standard Windows IME or Google?

[2016-06-17 12:56] Greeny7 opened #487 "Paste into area with heading in the beginning of selection"
It is fairly common situation  - when you paste something in wysiwyg, when there is heading in the beginning of this wysiwyg, but Chrome and Firefox acting quite different.

**Steps to reproduce:**
1) create some blocks and create heading block in the beginning.

**2) copy some blocks in clipboard**

![pic1](https://cloud.githubusercontent.com/assets/12188900/16150892/9fc3822e-34a2-11e6-9d49-640a1

[2016-06-30 12:07] danburzo commented on #482
I believe this is a bug with https://github.com/guardian/scribe-plugin-code-command/, specifically that the `queryState` does not return the correct value in Chrome.

[2016-07-22 08:50] danburzo opened #488 "allowBlockElements=false in Safari prevents entering new lines"
If you instantiate Scribe with `allowBlockElements=false` in Safari, you're not able to insert new lines with the Enter key. I'm investigating the source of the bug and will propose a PR, but any guidance in the meantime is appreciated!

[2016-07-22 09:41] danburzo commented on #488
I have narrowed it down to this piece of code https://github.com/guardian/scribe/blob/master/src/plugins/core/inline-elements-mode.js#L89 and at first brush it seems Safari and Chrome end up with different ranges, and thus the call to `hasContent` returns `true` in Safari (which catches a `<br>` in the process) and `false` in Chrome.

I'm now investigating why Safari has a different range than Chr

[2016-07-22 10:20] danburzo opened #489 "Pressing Enter while having a selection in inline-mode does not delete the range content"
The code that handles inline mode (`allowBlockElements=false`) assumes that when pressing the Enter key, the range is always collapsed. When it happens not to be, the selected characters are not deleted when inserting the new line.

[2016-07-22 10:34] danburzo commented on #489
_Note:_ It's also now apparent that the check to see if there's content at the right of the cursor fails in both Chrome and Firefox, i.e. pressing Enter in the middle of a word will insert two `<br>` elements.

[2016-07-22 14:07] danburzo opened #494 "Roadmap to making Safari support official?"
We have a [live environment](https://app.moqups.com) where users (on relatively recent versions of Firefox, Chrome and Safari) enter rich text via Scribe. It gets used tens of thousands of times each month from Safari without any major hurdles -- we're monitoring client errors with Sentry and applying patches if necessary.

As such, I believe Scribe is pretty much ready for prime time in Safari. I

[2016-07-24 10:01] sandys commented on #424
Hi,
I'm looking for a plugin that can handle image upload (to Amazon s3) as well as alignment of images.

Do you guys have a plugin that does this ? It's a little hard to grow the image functionality to implement it ourselves.

[2016-07-26 12:16] code-smith opened #495 "lodash dependecy still exists."
The latest scribe-editor installed through npm results in dependency errors.
It says cannot resolve module 'lodash-amd/modern/string/escape' in the below file
https://github.com/guardian/scribe/blob/master/src/plugins/core/formatters/plain-text/escape-html-characters.js

lodash-amd is not listed as dependency,so relevant files are not downloaded.
I had to add lodash-amd@3.5.0 as dependency to reso

[2016-07-28 15:57] brandondurham commented on #495
Thank you for including the temp fix here, @code-smith .

[2016-07-28 18:18] code-smith commented on #495
Can someone merge the PR and release it? It would be of great help to me

[2016-07-29 00:34] skeggse commented on #83
@theefer I've already ported Scribe to ES6 modules, and it works great internally - mind if I try pushing it upstream to this repo?

[2016-08-04 13:15] danburzo opened #497 "Pasting inserts paragraph tags even in inline-mode"
This piece of code assumes we always want to insert `<p>` tags:
`Scribe.prototype.insertPlainText = function (plainText) {
    this.insertHTML('<p>' + this._plainTextFormatterFactory.format(plainText) + '</p>');
 };`

[2016-09-19 10:48] jameslawson opened #499 "Remove Unexpected Usage of ES6 const"
Would it be possible to change all usages of `const` to `var` that are in present in browser-targeted javascript code? There are only three usages in one file (`src/config.js`). Commit 23a387b  introduced the usage of `const`. Currently these three consts are breaking IE8-IE10 completely giving a syntax error.

[code]

This one change would fix IE8-IE10 (assuming the necessary Polyfills are added)

[2016-09-19 10:50] jameslawson commented on #499
Pull request is here: #500

[2016-10-13 14:51] nazar-pc commented on #329
Should this be closed now?

[2016-10-15 17:18] bigdave commented on #329
Yep - thanks for the support!

[2016-10-15 17:18] #329 closed

[2016-10-22 20:27] nazar-pc opened #502 "NPM releases improvements"
Currently NPM version contains everything from this repository as is, however examples, tests and utility scripts are not necessary in production (this would greatly decrease download size). Also there is no production builds in NPM version.

So this is an issue with 2 parts:
- [ ] add production builds to NPM release
- [ ] remove everything except production files from NPM release

If you think b

[2016-11-21 15:59] rhedin opened #504 "Pull requests welcome?"
Hello.  I am starting to work with this package.  It looks nice.  Thanks!

I wonder whether pull requests are welcome.  I see some things I would like to change.  For example, ctrl-z is hard-coded as the undo character.  In some situations, people might want it to be something else, especially non-English-speakers.

But the maintainers of the package might not feel that such changes are worth pull

[2016-12-02 15:18] eric-nordicfactory opened #505 "Scribe commands not working when triggered in child iframe"
Hi,

First of all, thanks for a nice and clean library.

I guess this is kind of a special case but i need to use scribe from a parent document in a child iframe. Basically I'm building a wysiwyg tool to edit texts on a html page. Cross communication with parent is key here so i really want to use it like that.

Scribe works perfectly in my parent document but when applied to an element in the chi

[2016-12-02 16:01] eric-nordicfactory commented on #505
To support some other commands like italic, this fix needed to be implemented in api/command.js too.

[2017-01-27 12:42] katebee commented on #499
Hi @jameslawson, sorry it took so long to reply!

Thanks for raising, and explaining, this issue; your PR is merged 👍

[2017-01-27 12:42] #499 closed

[2017-01-30 16:46] ShaunYearStrong commented on #495
@code-smith There's a PR open to include `lodash-amd@3.5.0` in `package.json` this will fix this. While I agree using the whole library may be a bit much, this dependency is used by many of scribe's plugins anyway.

[2017-01-30 16:59] ShaunYearStrong commented on #502
@nazar-pc This is something I've noticed too over the past few days of use. This is definitely an interesting path, and anything to improve the NPM release to at least parity with that of the bower release would be great.

[2017-01-30 18:12] code-smith commented on #495
let me give some reasons not to do so.
#1 Lots of code changes in previous releases were aimed at making library independent on lodash, this will just undo everything.
#2 lodash-amd@3.5.0 is older version. Most use lodash-4 , its very different in code to 3.5 and not everyone uses lodash-amd verison and this would bloat the application code base.

It's your decision,  but personally i don't think

[2017-01-31 10:18] ShaunYearStrong commented on #495
@code-smith - Good point, I didn't notice the move away from lodash dependencies. In the plugin libraries, there was an effort to normalise the version of lodash used which is why I made this decision.

[2017-01-31 10:22] code-smith commented on #495
@ShaunYearStrong  thanks for reconsidering your decision. Also note that lodash-amd 4.0 has a very different code structure; most use the latest version , so it will just add another library to user's application code base which is not desirable.
Merging the polyfill PR is a good solution if you ask me

[2017-01-31 10:25] ShaunYearStrong commented on #495
@code-smith - It would work, I'm not a fan of including another library's code in here though.
I think a good solution would be to import the single escape method, available here: https://www.npmjs.com/package/lodash.escape

[2017-01-31 10:37] code-smith commented on #495
@ShaunYearStrong  The ployfill i included is an optimal solution that would fix everything.

[2017-01-31 10:41] ShaunYearStrong commented on #495
@code-smith I've spoken to some colleagues and they agree it's the best way. I'll merge it now but release will be someone else, as we're running through quite a few issues atm. Thanks for your work!

[2017-01-31 10:46] code-smith commented on #495
@ShaunYearStrong thanks and really appreciate the gesture. I used the editor to build an in-house cms and i must say this is the best out there. You guys rock !!

[2017-01-31 10:49] #495 closed

[2017-02-03 17:11] katebee commented on #462
@rrees adding labels appears to have unassigned you 😢 (that was not intentional)

[2017-02-03 17:13] #483 closed

[2017-02-03 18:00] #488 closed

[2017-02-03 18:00] katebee commented on #488
@danburzo thank you for all the detail on this issue 😄

❤️ documentation

[2017-02-03 20:54] rrees commented on #504
In this case it seems sensible to pull the current behaviour into the default configuration behaviour and then allow it to be over-ridden if you want it.

[2017-02-17 13:51] danburzo commented on #83
I can confirm. We needed to have Scribe in ES6 modules format, and it has been relatively painless to rewrite the codebase itself. Would it be a good idea to have a separate Scribe branch that just has all its source code remapped to modules, even if tests, and build tools, and other parts that now depend on AMD need to be redone? I can see the value of just allowing the source of Scribe to be imp

[2017-02-19 17:33] codeclown commented on #83
I have gone through everything I've been able to find on this subject, and still haven't really understood what the status is other than that apparently using Scribe via npm is not possible right now, unless you manually build the npm build as is done in the `examples/cjs.html` example.

Even a global binding as an option would be nicer. I'll much rather include a script-tag to the page than fiddl

[2017-02-19 19:46] danburzo commented on #83
I can chip in with whatever needs to be done on this.

[2017-02-24 16:35] codeclown commented on #489
Noticed this as well. Any possibility of merging?

[2017-03-02 11:24] #489 closed

[2017-03-18 11:33] katebee commented on #32
Does anyone have a bit more information on this issue, and could we break it down into smaller issues?

If not, can I close this for now? 😁

[2017-06-29 08:35] xsbchen opened #509 "whether consider supporting umd？"
whether consider supporting umd by webpack？

[2017-06-29 09:10] danburzo commented on #509
Porting the Scribe codebase to ES6 modules was a pretty straightforward step for us — done by hand in under an hour. Then the modules can be [converted to UMD with Babel](https://babeljs.io/docs/plugins/transform-es2015-modules-umd/) if you need this specific format. I suggest just forking the repo and doing it yourself.

[2017-06-29 12:01] xsbchen commented on #509
#83

[2017-06-29 12:01] #509 closed

[2017-06-29 12:04] xsbchen commented on #83
@danburzo why not?

[2017-06-29 14:07] xsbchen opened #510 "command plugin problem"
I add a command to upload image by this:
1. my upload command plugin:
[code]
2. use my upload plugin
3. add a button to toolbar(use toolbarPlugin), data-command-name="uploadImage"

then i click focus to input, type "my title", and click "add", nothing can be insert to editor.

debug and found: when i call `placeMarkers`, after will trigger `observeDomChanges`, selection remove by:
[code]

how can

[2017-08-24 10:58] shaundillon commented on #502
@nazar-pc If you check out #512 We're moving towards npm only. It'll be ready soon!

[2017-08-24 17:29] nazar-pc commented on #502
Better late than never, good to know there is some development in this repository.
Feel free to close this issue if it is obsolete now.

[2017-08-25 09:07] #502 closed

[2017-08-30 10:32] shaundillon commented on #482
@danburzo I'm looking in to this now. Your assertion that `this._nodeName` contains the correct value is right, _but_ `node.nodeName` is still returning the parent node, leading to the same problem.

[2017-09-12 08:44] danburzo opened #513 "Edge compatibility"
Hi, has anyone tried to tackle Microsoft Edge compatibility? Right now the demo behaves erratically on Edge (testing on 15.15063). I'd like to look into it, but would appreciate any pointers.

[2017-09-14 09:45] danburzo commented on #513
I narrowed it down to this combination of `placeMarkers()` and `selectMarkers()` in `pushHistory`:

https://github.com/guardian/scribe/blob/f60e071ad14de66d5646d78af51feba188030fdb/src/scribe.js#L180-L182

Commenting them out fixes the Edge problem, now investigating what's tripping it up.

[2017-10-18 01:49] simonfan opened #514 "cjs version scribe@4.0.0 does not work with browserify w/ deamdify"
The polyfill introduced at https://github.com/guardian/scribe/pull/496 (_polyfill for lodash-amd/modern/string/escape_) breaks compatibility with the cjs browserify w/ deamdify build process.

The problem seems to be that the polyfilled module (defined at `src/plugins/core/formatters/plain-text/escape-html-characters.js`) has multiple AMD module definitions in one single file which breaks the way

[2017-12-18 15:03] purcaholic opened #516 "UndoManager and a max length plugin"
Hi,

I've implemented a simple max length plugin for scribe, the idea is to undo the last action/entry of the user, if the content of the editor has exceeded a defined max length. The state of the plugin is rudimentary yet, but it shows my current problem.

The idea is to do a max length check within the `'content-changed'` event, and it works fine so far.
But, when I write fast and the length of

[2018-01-02 00:31] parkhw00 commented on #422
Any other progress on this issue??

[2018-05-08 09:33] marcias88 opened #520 "Any chance of supporting lists?"
First, this is a great tool for converting Word to HTML!

Second, I have noticed that nor ordered neither unordered lists are converted from Word into HTML by Scribe. Is this an intended behaviour or a bug? This is not a major issue, needs only a few clicks to correct, but would be nice way to impove.

[2018-05-20 11:34] sameh-g opened #521 "Un able to import Scribe using angular Cli"
Hello,

Please I am unable to import * scribe from 'scribe' into angular cli latest with webpack, before I wan able to import as I was using systemjs and it was easy to import. now using cli makes it difficult to import it gives and error that scribe is not a module.

please help!

regards,
Sameh

[2018-10-02 17:11] Raigasm opened #524 "plugin injection into existing `scribe` instance"
Hey, I'm writing a browser extension for **a website that uses scribe**.

I want to add some additional functionality to their scribe editor.

Do you think it is possible to inject a plugin into their `scribe`?

If so, how would I do it?
If not, what alternative approaches could I use?

[2018-10-02 17:42] abhitopia commented on #524
I am interested to know the same.

[2018-10-23 18:42] jackmcdade opened #525 "Demo is broken"
As I type in the demo (Chrome 69) it constantly erases my input.

[2018-10-30 11:46] sauerbraten opened #526 "Selection.range collapses when selecting the last word of a paragraph"
In Firefox 62.0.3, I can't select the last word of a paragraph, then use 'createLink' to wrap that word in an anchor tag. (You can reproduce this in the demo.) It works when using just document.execCommand(), so I suspected it had to do with the [createLink-patch](https://github.com/guardian/scribe/blob/f56eda1e510ba4452c045cd112f2263ffb22dfae/src/plugins/core/patches/commands/create-link.js#L26)

[2018-10-30 12:07] franziskas commented on #526
@sauerbraten thank you for bringing this up. Just a note before you go to work, you might want to know about our current text editor plans: https://github.com/guardian/scribe/pull/512#issuecomment-413149196

[2018-10-30 13:34] danburzo commented on #526
@sauerbraten Could you outline the concrete reproducing steps? I'm on Firefox 63 and at first brush I couldn't reproduce it, and I'm curious to see if it's a FF 62 thing.

[2018-10-30 14:32] sauerbraten commented on #526
@danburzo sure:
1. remove all content from the demo window
2. put in just 'foo'
3. the output area should now show `<p>foo<br></p>` and nothing else
4. double click the foo to select it
5. if you want, run `document.geSelection()` in the console to verify that the endNode is a p node, for example, I get `Selection { anchorNode: #text, anchorOffset: 0, focusNode: p, focusOffset: 1, isCollapsed: fal

[2018-11-18 22:11] pxwee5 opened #528 "Text alignment"
Is there a way to do text alignment in Scribe? I don't see it in the demo or docs.

[2019-01-30 09:31] franziskas commented on #526
@sauerbraten I apologise for the long delay in replying - we've now published a [blog post](https://www.theguardian.com/info/2019/jan/24/leaving-scribe) that should explain in detail.

[2020-09-29 05:02] dcsaszar commented on #99
FYI, I did a bit of research for a similar issue in https://github.com/yabwe/medium-editor/issues/543

A small reproducing example: https://jsfiddle.net/y4x3vu61/
A larger one with a workaround: https://jsfiddle.net/hsn9a6jo/4/

[2021-01-27 00:47] #444 closed